compilers:
- compiler:
    spec: intel@2021.5.0
    paths:
      cc: /opt/intel/oneapi/2022.1/compiler/2022.0.1/linux/bin/intel64/icc
      cxx: /opt/intel/oneapi/2022.1/compiler/2022.0.1/linux/bin/intel64/icpc
      f77: /opt/intel/oneapi/2022.1/compiler/2022.0.1/linux/bin/intel64/ifort
      fc: /opt/intel/oneapi/2022.1/compiler/2022.0.1/linux/bin/intel64/ifort
    flags: {}
    operating_system: centos7
    target: x86_64
    modules:
    - license_intel/S4
    - intel/2022.1
    environment:
      prepend_path:
        PATH: '/data/prod/hpc-stack/gnu/9.3.0/bin'
        LD_LIBRARY_PATH: '/data/prod/hpc-stack/gnu/9.3.0/lib64'
        CPATH: '/data/prod/hpc-stack/gnu/9.3.0/include'
    extra_rpaths: []
# Not yet tested:
- compiler:
    spec: gcc@9.3.0
    paths:
      cc: /data/prod/hpc-stack/gnu/9.3.0/bin/gcc
      cxx: /data/prod/hpc-stack/gnu/9.3.0/bin/g++
      f77: /data/prod/hpc-stack/gnu/9.3.0/bin/gfortran
      fc: /data/prod/hpc-stack/gnu/9.3.0/bin/gfortran
    flags: {}
    operating_system: centos7
    target: x86_64
    prefix: /data/prod/hpc-stack/gnu/9.3.0
    modules: []
    environment: {}
    extra_rpaths: []
