packages:
  all:
    compiler:: [intel@2021.5.0,gcc@9.3.0]
    providers:
      mpi:: [intel-oneapi-mpi@2021.5.0]
      # https://github.com/JCSDA/spack-stack/issues/1055
      zlib-api:: [zlib]
      # Remove the next three lines to switch to intel-oneapi-mkl
      blas:: [openblas]
      fftw-api:: [fftw]
      lapack:: [openblas]

### MPI, Python, MKL
  mpi:
    buildable: False
  intel-oneapi-mpi:
    externals:
    - spec: intel-oneapi-mpi@2021.5.0%intel@2021.5.0
      prefix: /opt/intel/oneapi/2022.1
  intel-oneapi-mkl:
    # Remove buildable: False and uncomment externals section below to use intel-oneapi-mkl
    buildable: False
    #externals:
    #- spec: intel-oneapi-mkl@2022.0.1%intel@2021.5.0
    #  prefix: /opt/intel/oneapi/2022.1

  # Remove this section to switch to intel-oneapi-mkl
  ectrans:
    require::
    - '@1.2.0 ~mkl +fftw'
  gsibec:
    require::
    - '@1.2.1 ~mkl'
  py-numpy:
    require::
    - '@:1.23 ^openblas'

### All other external packages listed alphabetically
  autoconf:
    externals:
    - spec: autoconf@2.69
      prefix: /usr
  automake:
    externals:
    - spec: automake@1.15
      prefix: /usr
  bash:
    externals:
    - spec: bash@4.2.46
      prefix: /usr
  berkeley-db:
    externals:
    - spec: berkeley-db@5.3.21
      prefix: /usr
  bzip2:
    externals:
    - spec: bzip2@1.0.6
      prefix: /usr
  cpio:
    externals:
    - spec: cpio@2.11
      prefix: /usr
  diffutils:
    externals:
    - spec: diffutils@3.3
      prefix: /usr
  doxygen:
    externals:
    - spec: doxygen@1.8.5+graphviz~mscgen
      prefix: /usr
  file:
    externals:
    - spec: file@5.11
      prefix: /usr
  findutils:
    externals:
    - spec: findutils@4.5.11
      prefix: /usr
  flex:
    externals:
    - spec: flex@2.5.37+lex
      prefix: /usr
  gawk:
    externals:
    - spec: gawk@4.0.2
      prefix: /usr
  gettext:
    externals:
    - spec: gettext@0.19.8.1
      prefix: /usr
  ghostscript:
    externals:
    - spec: ghostscript@9.25
      prefix: /usr
  git:
    externals:
    - spec: git@2.30.0+tcltk
      prefix: /opt/git/2.30.0
      modules:
      - git/2.30.0
  git-lfs:
    externals:
    - spec: git-lfs@2.10.0
      prefix: /usr
  gmake:
    externals:
    - spec: gmake@3.82
      prefix: /usr
  go:
    externals:
    - spec: go@1.11.5
      prefix: /usr
  groff:
    externals:
    - spec: groff@1.22.2
      prefix: /usr
  openjdk:
    externals:
    - spec: openjdk@1.8.0_262-b10
      prefix: /usr
  krb5:
    externals:
    - spec: krb5@1.15.1
      prefix: /usr
  libfuse:
    externals:
    - spec: libfuse@2.9.2
      prefix: /usr
  libtool:
    externals:
    - spec: libtool@2.4.2
      prefix: /usr
  libxpm:
    externals:
    - spec: libxpm@4.11.0
      prefix: /usr
  lustre:
    externals:
    - spec: lustre@2.10.5
      prefix: /usr
  m4:
    externals:
    - spec: m4@1.4.16
      prefix: /usr
  mysql:
    buildable: False
    externals:
    - spec: mysql@8.0.31
      prefix: /data/prod/jedi/spack-stack/mysql-8.0.31
      modules:
      - mysql/8.0.31
  pkg-config:
    externals:
    - spec: pkg-config@0.27.1
      prefix: /usr
  qt:
    buildable: False
    externals:
    - spec: qt@5.9.7
      prefix: /usr
  rsync:
    externals:
    - spec: rsync@3.1.2
      prefix: /usr
  ruby:
    externals:
    - spec: ruby@2.0.0
      prefix: /usr
  sed:
    externals:
    - spec: sed@4.2.2
      prefix: /usr
  tar:
    externals:
    - spec: tar@1.26
      prefix: /usr
  texinfo:
    externals:
    - spec: texinfo@5.1
      prefix: /usr
  texlive:
    externals:
    - spec: texlive@20130530
      prefix: /usr
  wget:
    externals:
    - spec: wget@1.14
      prefix: /usr
  xz:
    externals:
    - spec: xz@5.2.2
      prefix: /usr
  zip:
    externals:
    - spec: zip@3.0
      prefix: /usr
