packages:
  c:
    require: [apple-clang@17.0.0]
  cxx:
    require: [apple-clang@17.0.0]
  fortran:
    require: [llvm@21.1.3 ~clang +flang]
  mpi:
    require: [openmpi@=5.0.10]
  apple-clang:
    externals:
    - spec: apple-clang@17.0.0 languages:='c,c++'
      prefix: /usr
      extra_attributes:
        compilers:
          c: /usr/bin/clang
          cxx: /usr/bin/clang++
  llvm:
    buildable: False
    externals:
    - spec: llvm@21.1.3 ~clang +flang languages:='fortran'
      prefix: @BREW_PREFIX@
      extra_attributes:
        compilers:
          fortran: @BREW_PREFIX@/bin/flang

  openmpi:
    require::
    - '+internal-hwloc'
    - '+internal-libevent'
    - '+internal-pmix'
    - '+fortran'
    # GEOS requires a flat namespace to link properly on macOS
    - '~two_level_namespace'
