packages:
  c:
    require: [apple-clang@@APPLE_CLANG_VERSION@]
  cxx:
    require: [apple-clang@@APPLE_CLANG_VERSION@]
  fortran:
    require: [gcc@15.2.0]
  mpi:
    require: [openmpi@=5.0.10]
  apple-clang:
    externals:
    - spec: apple-clang@@APPLE_CLANG_VERSION@ languages:='c,c++'
      prefix: /usr
      extra_attributes:
        compilers:
          c: /usr/bin/clang
          cxx: /usr/bin/clang++
  gcc:
    buildable: False
    externals:
    - spec: gcc@15.2.0 languages:='fortran'
      prefix: @BREW_PREFIX@
      extra_attributes:
        compilers:
          fortran: @BREW_PREFIX@/bin/gfortran-15

  openmpi:
    require::
    - '+internal-hwloc'
    - '+internal-libevent'
    - '+internal-pmix'
    - '+fortran'
    # GEOS requires a flat namespace to link properly on macOS
    - '~two_level_namespace'

  # ESMF by default for Darwin.gfortranclang turns off OpenMP, so
  # we do the same here to avoid build failures.
  # We also build as +debug only because esmf ~debug does not work with
  # gfortranclang/GEOS on macOS. The geos-gcm-env ~debug spec is removed
  # from the environment spack.yaml by batch_install.sh on macOS.
  esmf:
    require:
    - '~openmp'
    - '+debug'

  gdbm:
    externals:
    - spec: gdbm@1.26
      prefix: @BREW_PREFIX@/opt/gdbm
