# EPIC
@natalie-perlin
@ratkovasic-noaa
@rickgrubin-noaa
# JCSDA
@ashley314
@eap
# NASA
@mathomp4
# NOAA EMC
@alexanderrichert-noaa
@hanglei-noaa
# NRL
@climbfuji

# Org-specific files * directories:
# NOAA EMC
/configs/sites/tier1/acorn/ @AlexanderRichert-NOAA @HangLei-NOAA @AlysonStahl-NOAA
/configs/sites/tier1/wcoss2/ @AlexanderRichert-NOAA @HangLei-NOAA @AlysonStahl-NOAA
/configs/sites/tier2/emc-rhel/ @AlexanderRichert-NOAA @HangLei-NOAA @AlysonStahl-NOAA
/configs/templates/nco/ @AlexanderRichert-NOAA @HangLei-NOAA @AlysonStahl-NOAA
/configs/templates_NOT_YET_CONVERTED_TO_SPACK_v1/ufs-weather-model-static/ @AlexanderRichert-NOAA @HangLei-NOAA @AlysonStahl-NOAA
/repos/spack_stack/spack_repo/spack_stack/packages/nceplibs_env/ @AlexanderRichert-NOAA @HangLei-NOAA @AlysonStahl-NOAA
/repos/spack_stack/spack_repo/spack_stack/packages/upp_env/ @AlexanderRichert-NOAA @HangLei-NOAA @AlysonStahl-NOAA
/util/acorn/ @AlexanderRichert-NOAA @HangLei-NOAA @AlysonStahl-NOAA
/util/weekly_build/sites/acorn.sh @AlexanderRichert-NOAA @HangLei-NOAA @AlysonStahl-NOAA
