# EPIC
@natalie-perlin
@ratkovasic-noaa
@rickgrubin-noaa
# JCSDA
@ashley314
@eap
# NASA
@mathomp4
# NOAA OMD
@alexanderrichert-noaa
@hang-lei-noaa
@alysonstahl-noaa
# NRL
@climbfuji

# Org-specific files * directories:
# NOAA OMD
/configs/sites/tier1/acorn/ @AlexanderRichert-NOAA @Hang-Lei-NOAA @AlysonStahl-NOAA
/configs/sites/tier1/wcoss2/ @AlexanderRichert-NOAA @Hang-Lei-NOAA @AlysonStahl-NOAA
/configs/templates/nco/ @AlexanderRichert-NOAA @Hang-Lei-NOAA @AlysonStahl-NOAA
/repos/spack_stack/spack_repo/spack_stack/packages/nceplibs_env/ @AlexanderRichert-NOAA @Hang-Lei-NOAA @AlysonStahl-NOAA
/repos/spack_stack/spack_repo/spack_stack/packages/upp_env/ @AlexanderRichert-NOAA @Hang-Lei-NOAA @AlysonStahl-NOAA
/util/acorn/ @AlexanderRichert-NOAA @Hang-Lei-NOAA @AlysonStahl-NOAA
/util/weekly_build/sites/acorn.sh @AlexanderRichert-NOAA @Hang-Lei-NOAA @AlysonStahl-NOAA
