[submodule "spack"]
  path = spack
  #url = https://github.com/jcsda/spack
  #branch = spack-stack-1.7.0
  url = https://github.com/climbfuji/spack
  branch = feature/add_esmf_tags_to_rel_170
[submodule "doc/CMakeModules"]
  path = doc/CMakeModules
  url = https://github.com/noaa-emc/cmakemodules
  branch = develop
