[submodule "spack"]
  path = spack
  url = https://github.com/jcsda/spack
  branch = release/1.8.0
[submodule "doc/CMakeModules"]
  path = doc/CMakeModules
  url = https://github.com/noaa-emc/cmakemodules
  branch = v1.3.0
