[submodule "spack"]
  path = spack
  #url = https://github.com/spack/spack
  #branch = develop
  #url = https://github.com/NOAA-EMC/spack
  url = https://github.com/ulmononian/NOAA-EMC_spack
  branch = feature/add_scotch
[submodule "doc/CMakeModules"]
  path = doc/CMakeModules
  url = https://github.com/noaa-emc/cmakemodules
  branch = develop
