compilers::
  - compiler:
      spec: intel@=23.1.0
      paths:
        cc: /opt/intel/oneapi/compiler/2023.1.0/linux/bin/intel64/icc
        cxx: /opt/intel/oneapi/compiler/2023.1.0/linux/bin/intel64/icpc
        f77: /opt/intel/oneapi/compiler/2023.1.0/linux/bin/intel64/ifort
        fc: /opt/intel/oneapi/compiler/2023.1.0/linux/bin/intel64/ifort
      flags: {}
      operating_system: centos7
      target: x86_64
      modules:
      - intel/23.1.0
      environment:
        prepend_path:
          PATH: '/opt/apps/gcc/9.1.0/bin'
          CPATH: '/opt/apps/gcc/9.1.0/include'
          LD_LIBRARY_PATH: '/opt/intel/oneapi/compiler/2023.1.0/linux/compiler/lib/intel64_lin:/opt/apps/gcc/9.1.0/lib64:/opt/apps/gcc/9.1.0/lib'
      extra_rpaths: []
  - compiler:
      spec: gcc@=9.1.0
      paths:
        cc: /opt/apps/gcc/9.1.0/bin/gcc
        cxx: /opt/apps/gcc/9.1.0/bin/g++
        f77: /opt/apps/gcc/9.1.0/bin/gfortran
        fc: /opt/apps/gcc/9.1.0/bin/gfortran
      flags: {}
      operating_system: centos7
      target: x86_64
      modules:
      - gcc/9.1.0
      environment: {}
      extra_rpaths: []
