packages:
  mpi:
    buildable: False

  intel-mpi:
    buildable: False
    externals:
    - spec: intel-mpi@2019.7.217
      modules:
      - impi/2019.7.217
      prefix: /glade/u/apps/opt/intel/2020u1

  python:
    buildable: False
    externals:
    - spec: python@3.7.9
      modules:
      - python/3.7.9

  openssl:
    externals:
    - spec: openssl@1.0.2p
      prefix: /usr

  perl:
    externals:
    - spec: perl@5.18.2~cpanm+shared+threads
      prefix: /usr

  m4:
    externals:
    - spec: m4@1.4.16
      prefix: /usr

  cmake:
    buildable: False
    externals:
    - spec: cmake@3.22.0
      modules:
      - cmake/3.22.0
    - spec: cmake@3.18.2
      modules:
      - cmake/3.18.2

  bison:
    externals:
    - spec: bison@2.7
      prefix: /usr

  gawk:
    externals:
    - spec: gawk@4.1.0
      prefix: /usr

  git:
    externals:
    - spec: git@2.33.1
      modules:
      - git/2.33.1

  git-lfs:
    externals:
    - spec: git-lfs@3.0.2
      modules:
      - git/2.33.1

  all:
    #compiler:: [intel-oneapi-compilers, intel, gcc]
    compiler:: [intel@2020.1.217]
    providers:
      #mpi:: [intel-oneapi-mpi, intel-mpi, mpt]
      mpi:: [intel-mpi@2019.7.217]
