config:
  build_jobs: 3

compilers::

  - compiler:
      spec: intel@2020.1.217
      paths:
        cc: /glade/u/apps/opt/intel/2020u1/compilers_and_libraries_2020.1.217/linux/bin/intel64/icc
        cxx: /glade/u/apps/opt/intel/2020u1/compilers_and_libraries_2020.1.217/linux/bin/intel64/icpc
        f77: /glade/u/apps/opt/intel/2020u1/compilers_and_libraries_2020.1.217/linux/bin/intel64/ifort
        fc: /glade/u/apps/opt/intel/2020u1/compilers_and_libraries_2020.1.217/linux/bin/intel64/ifort
      flags: {}
      operating_system: sles12
      target: x86_64
      modules:
      - intel/19.1.1
      #- ncarcompilers/0.5.0
      environment:
        prepend_path:
          LD_LIBRARY_PATH: '/glade/u/apps/opt/intel/2020u1/compilers_and_libraries_2020.1.217/linux/compiler/lib/intel64_lin'
          CXXFLAGS: '-std=c++14 -gxx-name=/glade/u/apps/ch/opt/gnu/9.1.0/bin/g++ -Wl,-rpath,/glade/u/apps/ch/opt/gnu/9.1.0/lib64'
          LDFLAGS: '-std=c++14 -gxx-name=/glade/u/apps/ch/opt/gnu/9.1.0/bin/g++ -Wl,-rpath,/glade/u/apps/ch/opt/gnu/9.1.0/lib64'
      extra_rpaths: []

  - compiler:
      spec: gcc@11.1.0
      paths:
        cc: /glade/u/apps/ch/opt/gnu/11.1.0/bin/gcc
        cxx: /glade/u/apps/ch/opt/gnu/11.1.0/bin/g++
        f77: /glade/u/apps/ch/opt/gnu/11.1.0/bin/gfortran
        fc: /glade/u/apps/ch/opt/gnu/11.1.0/bin/gfortran
      flags: {}
      operating_system: sles12
      target: x86_64
      modules:
      - gnu/11.1.0
      #- ncarcompilers/0.5.0
      extra_rpaths: []

  - compiler:
      spec: gcc@4.8
      paths:
        cc: /usr/bin/gcc
        cxx: /usr/bin/g++
        f77: /usr/bin/gfortran
        fc: /usr/bin/gfortran
      flags: {}
      operating_system: sles12
      target: x86_64
      modules: []
      environment: {}
      extra_rpaths: []

modules:
  default:
    lmod:
      core_compilers::
      - gcc@4.8.5

packages:
  mpi:
    buildable: False

  intel-mpi:
    buildable: False
    externals:
    - spec: intel-mpi@2019.7.217
      modules:
      - impi/2019.7.217
      prefix: /glade/u/apps/opt/intel/2020u1

  python:
    buildable: False
    externals:
    - spec: python@3.7.9
      modules:
      - python/3.7.9

  openssl:
    externals:
    - spec: openssl@1.0.2p
      prefix: /usr

  perl:
    externals:
    - spec: perl@5.18.2~cpanm+shared+threads
      prefix: /usr

  m4:
    externals:
    - spec: m4@1.4.16
      prefix: /usr

  cmake:
    buildable: False
    externals:
    - spec: cmake@3.22.0
      modules:
      - cmake/3.22.0
    - spec: cmake@3.18.2
      modules:
      - cmake/3.18.2

  bison:
    externals:
    - spec: bison@2.7
      prefix: /usr

  gawk:
    externals:
    - spec: gawk@4.1.0
      prefix: /usr

  git:
    externals:
    - spec: git@2.33.1
      modules:
      - git/2.33.1

  git-lfs:
    externals:
    - spec: git-lfs@3.0.2
      modules:
      - git/2.33.1

  all:
    #compiler:: [intel-oneapi-compilers, intel, gcc]
    compiler:: [intel@2020.1.217]
    providers:
      #mpi:: [intel-oneapi-mpi, intel-mpi, mpt]
      mpi:: [intel-mpi@2019.7.217]
