# Set package and module installation directories
config:
  install_hash_length: 7
  install_tree:
    root: $env/install
    projections:
      all: "${COMPILERNAME}/${COMPILERVER}/${PACKAGE}-${VERSION}-${HASH}"
    # Needed for relocation of binary packages (build caches)
    padded_length: true

  # The build stage can be purged with `spack clean --stage` and
  # `spack clean -a`, so it is important that the specified directory uniquely
  # identifies Spack staging to avoid accidentally wiping out non-Spack work.
  build_stage: ${SPACK_STACK_DIR}/cache/build_stage

  # Directory in which to run tests and store test results.
  # Tests will be stored in directories named by date/time and package
  # name/hash.
  test_stage: ${SPACK_STACK_DIR}/cache/test_stage

  # Cache directory for already downloaded source tarballs and archived
  # repositories. This can be purged with `spack clean --downloads`.
  source_cache: ${SPACK_STACK_DIR}/cache/source_cache

  # Cache directory for miscellaneous files, like the package index.
  # This can be purged with `spack clean --misc-cache`
  misc_cache: ${SPACK_STACK_DIR}/cache/misc_cache

  # Timeout in seconds for web requests (curl/urllib)
  connect_timeout: 60
