modules:
  default:
    roots:
      lmod: $env/install/modulefiles
      tcl: $env/install/modulefiles
    arch_folder: false
    tcl:
      # Core compiler is a dummy that is not used to build the stack, do not change.
      # Hopefully nobody is trying to build software with gcc-4.6 in 2022 ...
      core_compilers::
      - gcc@4.6
      projections:
        all: '{compiler.name}/{compiler.version}/{name}/{version}'
        ^mpi: '{^mpi.name}/{^mpi.version}/{compiler.name}/{compiler.version}/{name}/{version}'
        ecmwf-atlas: '{compiler.name}/{compiler.version}/atlas/{version}'
        nlohmann-json: '{compiler.name}/{compiler.version}/json/{version}'
        nlohmann-json-schema-validator: '{compiler.name}/{compiler.version}/json-schema-validator/{version}'
      blacklist:
      # List of packages for which we don't need modules
      - apple-libunwind
      - apple-libuuid
      - autoconf
      - automake
      - berkeley-db
      - bison
      - bzip2
      - diffutils
      - expat
      - findutils
      - fixesproto
      - flex
      - freetype
      - gdbm
      - googletest
      - hwloc
      - inputproto
      - kbproto
      - libaec
      - libedit
      - libevent
      - libfabric
      - libffi
      - libgeotiff
      - libice
      - libiconv
      - libjpeg-turbo
      - libpciaccess
      - libpthread-stubs
      - libsigsegv
      - libsm
      - libtiff
      - libtool
      - libx11
      - libxau
      - libxcb
      - libxdmcp
      - libxext
      - libxfixes
      - libxi
      - libxml
      - libxml2
      - libxrandr
      - libxrender
      - libxxf86vm
      - libyaml
      - lz4
      - m4
      - nasm
      - ncurses
      - openssh
      - openssl
      - perl
      - pkgconf
      - qhull
      - qt
      - randrproto
      - readline
      - renderproto
      - xcb-proto
      - xextproto
      - xf86vidmodeproto
      - xproto
      - xrandr
      - xtrans
      - xz
      # Do not create MPI modules - we create our own meta modules
      - cray-mpich
      - mpich
      - openmpi
      - intel-mpi
      - intel-oneapi-mpi
      # Do not create python modules - we create our own meta modules
      - python
      hash_length: 0
      all:
        autoload: direct
        environment:
          set:
            '{name}_ROOT': '{prefix}'
        suffixes:
          +debug: 'debug'
      ecmwf-atlas:
        environment:
          set:
            'atlas_ROOT': '{prefix}'
      esmf:
        environment:
          set:
            'ESMFMKFILE': '{prefix}/lib/esmf.mk'
      libpng:
        environment:
          set:
            'PNG_ROOT': '{prefix}'
      mapl:
        suffixes:
          ^esmf@8.2.0~debug: 'esmf-8.2.0'
          ^esmf@8.2.0+debug: 'esmf-8.2.0-debug'
      openmpi:
        environment:
          set:
            'OMPI_MCA_rmaps_base_oversubscribe': '1'

    lmod:
      # Core compiler is a dummy that is not used to build the stack, do not change.
      # Hopefully nobody is trying to build software with gcc-4.6 in 2022 ...
      core_compilers::
      - gcc@4.6
      projections:
        ecmwf-atlas: 'atlas/{version}'
        nlohmann-json: 'json/{version}'
        nlohmann-json-schema-validator: 'json-schema-validator/{version}'
      blacklist:
      # List of packages for which we don't need modules
      - apple-libunwind
      - apple-libuuid
      - autoconf
      - automake
      - berkeley-db
      - bison
      - bzip2
      - diffutils
      - expat
      - findutils
      - fixesproto
      - flex
      - freetype
      - gdbm
      - googletest
      - hwloc
      - inputproto
      - kbproto
      - libaec
      - libedit
      - libevent
      - libfabric
      - libffi
      - libgeotiff
      - libice
      - libiconv
      - libjpeg-turbo
      - libpciaccess
      - libpthread-stubs
      - libsigsegv
      - libsm
      - libtiff
      - libtool
      - libx11
      - libxau
      - libxcb
      - libxdmcp
      - libxext
      - libxfixes
      - libxi
      - libxml
      - libxml2
      - libxrandr
      - libxrender
      - libxxf86vm
      - libyaml
      - lz4
      - m4
      - nasm
      - ncurses
      - openssh
      - openssl
      - perl
      - pkgconf
      - qhull
      - qt
      - randrproto
      - readline
      - renderproto
      - xcb-proto
      - xextproto
      - xf86vidmodeproto
      - xproto
      - xrandr
      - xtrans
      - xz
      # Do not create MPI modules - we create our own meta modules
      - cray-mpich
      - mpich
      - openmpi
      - intel-mpi
      - intel-oneapi-mpi
      # Do not create python modules - we create our own meta modules
      - python
      hash_length: 0
      all:
        autoload: direct
        environment:
          set:
            '{name}_ROOT': '{prefix}'
        suffixes:
          +debug: 'debug'
      ecmwf-atlas:
        environment:
          set:
            'atlas_ROOT': '{prefix}'
      esmf:
        environment:
          set:
            'ESMFMKFILE': '{prefix}/lib/esmf.mk'
      libpng:
        environment:
          set:
            'PNG_ROOT': '{prefix}'
      mapl:
        suffixes:
          ^esmf@8.2.0~debug: 'esmf-8.2.0'
          ^esmf@8.2.0+debug: 'esmf-8.2.0-debug'
      openmpi:
        environment:
          set:
            'OMPI_MCA_rmaps_base_oversubscribe': '1'
      hierarchy:
      - mpi

    prefix_inspections:
      bin:
      - PATH
      man:
      - MANPATH
      share/man:
      - MANPATH
      share/aclocal:
      - ACLOCAL_PATH
      lib:
      - LIBRARY_PATH
      - LD_LIBRARY_PATH
      - DYLD_LIBRARY_PATH
      lib64:
      - LIBRARY_PATH
      - LD_LIBRARY_PATH
      - DYLD_LIBRARY_PATH
      include:
      - CPATH
      lib/pkgconfig:
      - PKG_CONFIG_PATH
      lib64/pkgconfig:
      - PKG_CONFIG_PATH
      '':
      - CMAKE_PREFIX_PATH
