# Pin versions and specs when building packages
  packages:
    #
    all:
      providers:
        blas: [openblas]
        fftw-api: [fftw]
        gl: [opengl]
        glu: [openglu]
        jpeg: [libjpeg-turbo]
        lapack: [openblas]
        yacc: [bison]
        zlib-api: [zlib-ng]
    #
    awscli-v2:
      require: "~examples"
    bacio:
      version: ['2.4.1']
    bison:
      version: ['3.8.2']
    # 1.85 incompatible with ecflow@5.11.4 - use latest "good version"
    boost:
      require: "@1.84 ~atomic +chrono +date_time +exception +filesystem ~graph ~iostreams ~locale ~log ~math ~mpi ~numpy +pic +program_options +python ~random +regex +serialization ~signals +system +test +thread +timer ~wave cxxstd=17 visibility=hidden"
    bufr:
      version: ['12.0.1']
      variants: +python
    cairo:
      variants: +pic
    cdo:
      version: ['2.2.0']
      variants: ~openmp
    cmake:
      version: ['3.27.9']
      variants: +ownlibs
    # Attention - when updating also check the various jcsda-emc-bundles env packages
    crtm:
      version: ['2.4.0.1']
      variants: +fix
    ecbuild:
      version: ['3.7.2']
    eccodes:
      version: ['2.33.0']
      variants: +png
    ecflow:
      version: ['5.11.4']
      variants: +ui
    eckit:
      version: ['1.24.5']
      variants: linalg=eigen,lapack compression=lz4,bzip2
    ecmwf-atlas:
      version: ['0.36.0']
      variants: +fckit +trans +tesselation +fftw
    ectrans:
      version: ['1.2.0']
      variants: ~mkl +fftw
    eigen:
      version: ['3.4.0']
    # Attention - when updating the version also check the common modules.yaml
    # config and update the projections for lmod/tcl.
    # Also, check the acorn and derecho site configs which have esmf modifications.
    esmf:
      require:
        - any_of: ['@=8.6.1 ~xerces ~pnetcdf snapshot=none +shared +external-parallelio fflags="-fp-model precise" cxxflags="-fp-model precise"']
          when: "%intel"
          message: "Extra ESMF compile options for Intel"
        - any_of: ['@=8.6.1 ~xerces ~pnetcdf snapshot=none +shared +external-parallelio']
          when: "%gcc"
          message: "Extra ESMF compile options for GCC"
        - any_of: ['@=8.6.1 ~xerces ~pnetcdf snapshot=none +shared +external-parallelio']
          when: "%apple-clang"
          message: "Extra ESMF compile options for GCC"
    fckit:
      version: ['0.11.0']
      variants: +eckit
    fftw:
      version: ['3.3.10']
    fiat:
      version: ['1.2.0']
    fms:
      version: ['2023.04']
      variants: precision=32,64 +quad_precision +gfs_phys +openmp +pic constants=GFS build_type=Release +deprecated_io
    fontconfig:
      variants: +pic
    freetype:
      variants: +pic
    g2:
      version: ['3.4.9']
    g2c:
      version: ['1.6.4']
    g2tmpl:
      version: ['1.10.2']
    gettext:
      version: ['0.21.1']
    gfsio:
      version: ['1.4.1']
    gftl-shared:
      version: ['1.6.1']
    #git-lfs:
      # Assume git-lfs is provided, hard to install
      # because of dependencies on go/go-bootstrap.
      # Note: Uncommenting this entry will break
      # the container builds.
      #version: ['2.11.0']
    grib-util:
      version: ['1.4.0']
    gsibec:
      version: ['1.2.1']
    gsi-ncdiag:
      version: ['1.1.2']
    gsl-lite:
      version: ['0.37.0']
    hdf:
      version: ['4.2.15']
      variants: +external-xdr ~fortran ~netcdf
    hdf5:
      require: '@1.14.3 +hl +fortran +mpi +threadsafe ~szip'
    # Newer versions of hdf-eos2 require manual downloading, avoid
    hdf-eos2:
      require: "@2.20v1.00"
    ip:
      version: ['5.0.0']
      variants: precision=4,d,8
    ip2:
      version: ['1.1.2']
    jasper:
      version: ['2.0.32']
    jedi-cmake:
      version: ['1.4.0']
    landsfcutil:
      version: ['2.4.1']
    libjpeg-turbo:
      version: ['2.1.0']
    libpng:
      version: ['1.6.37']
      variants: +pic
    libyaml:
      version: ['0.2.5']
    # Newest version of magics needed for oneapi compilers
    magics:
      require: "@4.15.3:"
    mapl:
      version: ['2.46.2']
      variants: +shared +pflogger ~f2py
    # If making changes here, also check the Discover site configs and the CI workflows
    met:
      version: ['11.1.0']
      variants: +python +grib2
    metplus:
      version: ['5.1.0']
    metis:
      require: "+int64 +real64"
    mpich:
      variants: ~hwloc +two_level_namespace
    nco:
      version: ['5.1.6']
      variants: ~doc
    # ncview - when adding information here, also check Orion
    # and Discover site configs
    nemsio:
      version: ['2.5.4']
    nemsiogfs:
      version: ['2.5.3']
    nccmp:
      version: ['1.9.0.1']
    ncio:
      version: ['1.1.2']
    netcdf-c:
      # If using 4.9.1, turn off byterange variant to fix compile error: ~byterange
      require: "@4.9.2 +dap +mpi ~parallel-netcdf ~szip build_system=autotools"
    netcdf-cxx4:
      version: ['4.3.1']
    netcdf-fortran:
      version: ['4.6.1']
    # ninja - when adding information here, also check Discover site config
    nlohmann-json:
      version: ['3.10.5']
    nlohmann-json-schema-validator:
      version: ['2.1.0']
    odc:
      version: ['1.4.6']
      variants: ~fortran
    openblas:
      version: ['0.3.24']
      variants: +noavx512
    openmpi:
      variants: ~internal-hwloc +two_level_namespace
    # Pin openssl to avoid duplicate packages being built
    openssl:
      variants: +shared
    p4est:
      require: "@2.8"
    parallelio:
      version: ['2.6.2']
      variants: +pnetcdf
    parallel-netcdf:
      version: ['1.12.3']
    pflogger:
      #version: ['1.12.0']
      variants: +mpi
    pixman:
      variants: +pic
    # Do not build pkgconf - https://github.com/jcsda/spack-stack/issues/123
    pkgconf:
      buildable: False
    prod-util:
      version: ['2.1.1']
    proj:
      version: ['8.1.0']
      variants: ~tiff
    python:
      require: "@3.10.13"
    py-attrs:
      # https://github.com/JCSDA/spack-stack/issues/740
      version: ['21.4.0']
    py-cartopy:
      variants: +plotting
      require: "@0.21.1"
    py-cryptography:
      variants: +rust_bootstrap
    # Introduced in https://github.com/JCSDA/spack-stack/pull/894, pin py-cython
    # to avoid duplicate packages being built (cylc dependencies soft-want @3:)
    py-cython:
      require: "@0.29.36"
    ## https://github.com/JCSDA/spack-stack/issues/980
    #py-gitpython:
    #  require: "@3.1.27"
    py-h5py:
      version: ['3.7.0']
      variants: ~mpi
    # To avoid duplicate packages
    py-flit-core:
      require: "@3.8.0"
    # To avoid duplicate packages
    py-jinja2:
      require: "@3.0.3"
    # Comment out for now until build problems are solved
    # https://github.com/jcsda/spack-stack/issues/522
    # see also ewok-env virtual package and container
    # README.md
    #py-mysql-connector-python:
    #  version: ['8.0.32']
    py-netcdf4:
      version: ['1.5.8']
      variants: ~mpi
    py-numpy:
      require: ['@1.22.3']
    py-pandas:
      variants: +excel
    # Pin the py-setuptools version to avoid duplicate Python packages
    py-setuptools:
      require: ['@63.4.3']
    py-setuptools-rust:
      variants: +rust_bootstrap
    py-shapely:
      require: ['@1.8.0']
    py-torch:
      require: "+custom-protobuf ~mkldnn"
    # To avoid duplicate packages
    py-urllib3:
      require: "@1.26.12"
    qt:
      version: ['5.15.3']
    scotch:
      version: ['7.0.4']
      variants: +mpi+metis~shared~threads~mpi_thread+noarch
    sfcio:
      version: ['1.4.1']
    shumlib:
      version: ['macos_clang_linux_intel_port']
    sigio:
      version: ['2.3.2']
    sp:
      version: ['2.5.0']
      variants: precision=4,d,8
    udunits:
      version: ['2.2.28']
    ufs-utils:
      version: ['1.13.0']
    # Note - we can remove upp from stack at some point?
    upp:
      version: ['10.0.10']
    w3emc:
      version: ['2.10.0']
      variants: precision=4,d,8
    w3nco:
      version: ['2.4.1']
    wget:
      version: ['1.21.2']
    # When changing wgrib2, also check Hercules and Nautilus site configs
    wgrib2:
      version: ['2.0.8']
    wrf-io:
      version: ['1.2.0']
    #yafyaml:
    #  version: ['1.2.0']
    zstd:
      version: ['1.5.2']
      variants: +programs
