# Pin versions and specs when building packages
  packages:
    cmake:
      version: [3.22.1]
    zlib:
      version: [1.2.11]
    hdf5:
      version: [1.10.6]
      variants: +hl +fortran +mpi +threadsafe
    parallel-netcdf:
      version: [1.12.2]
    netcdf-c:
      version: [4.7.4]
      variants: +dap +mpi +parallel-netcdf
    netcdf-fortran:
      version: [4.5.3]
    parallelio:
      version: [2.5.2]
      variants: +pnetcdf
    nccmp:
      version: [1.9.0.1]
    jpeg:
      version: [9.1.0]
    libpng:
      version: [1.6.37]
    libjpeg-turbo:
      version: [2.1.0]
    jasper:
      version: [2.0.32]
    eccodes:
      version: [2.21.0]
      # Todo list: issues with eccodes on macOS ... currently installed via homebrew
      #variants: +netcdf
    py-eccodes:
      version: [1.3.2]
    #libtiff:
    #  version: [4.3.0]
    proj:
      version: [8.1.0]
      # don't really need tiff ...
      variants: ~tiff
    py-pyproj:
      version: [3.1.0]
    py-pygrib:
      version: [2.1.4]
    esmf:
      version: [8.2.0]
      variants: ~xerces ~pnetcdf
    fms:
      version: [2021.03.01]
      variants: +64bit +enable_quad_precision +gfs_phys +openmp +pic
    fms-jcsda:
      version: [release-stable]
      variants: +64bit +enable_quad_precision +gfs_phys +openmp +pic
    bacio:
      version: [2.4.1]
    sigio:
      version: [2.3.2]
    sfcio:
      version: [1.4.1]
    gfsio:
      version: [1.4.1]
    w3nco:
      version: [2.4.1]
    sp:
      version: [2.3.3]
    ip:
      version: [3.3.3]
    ip2:
      version: [1.1.2]
    landsfcutil:
      version: [2.4.1]
    nemsio:
      version: [2.5.2]
    nemsiogfs:
      version: [2.5.3]
    w3emc:
      version: [2.9.1]
    g2:
      version: [3.4.5]
    g2c:
      version: [1.6.4]
    g2tmpl:
      version: [1.10.0]
    crtm:
      version: [2.3.0]
    upp:
      version: [10.0.10]
    wrf-io:
      version: [1.2.0]
    wgrib2:
      version: [2.0.8-cmake-v6]
    prod-util:
      version: [1.2.2]
    grib-util:
      version: [1.2.3]
    gftl-shared:
      version: [1.3.0]
    python:
      version: [3.8.9]
    jedi-cmake:
      version: [1.2.0]
    boost:
      version: [1.72.0]
      # Versions 1.73+ don't compile on platforms like orion (bootstrap.sh fails) ... on the todo list
      #version: [1.78.0]
      # Make this a boost-headers package by compiling basically nothing
      variants: ~atomic ~chrono ~date_time ~exception ~filesystem ~graph ~iostreams ~locale ~log ~math ~mpi ~numpy +pic ~program_options ~python ~random ~regex ~serialization ~signals ~test ~timer ~wave cxxstd=14 visibility=hidden
    gsl-lite:
      version: [0.37.0]
    eigen:
      version: [3.4.0]
    ecbuild:
      version: [3.6.1]
    eckit:
      version: [1.18.0]
      variants: linalg=eigen,lapack compression=lz4,bzip2
    fckit:
      version: [0.9.5]
      variants: +eckit
    atlas:
      version: [0.27.0]
      variants: +fckit
    git-lfs:
      version: [2.11.0]
    py-numpy:
      version: [1.20.3]
      variants: +blas +lapack
    py-pybind11:
      version: [2.8.1]
    py-h5py:
      version: [3.6.0]
    py-netcdf4:
      version: [1.5.3]
      variants: +mpi
    py-pycodestyle:
      version: [2.8.0]
    py-pyyaml:
      version: [6.0]
    py-python-dateutil:
      version: [2.8.2]
    py-pandas:
      version: [1.3.5]
    py-scipy:
      # Does this version work with all the other packages listed here? 1.5.3 worked ...
      version: [1.7.3]
    diffutils:
      version: [3.7]
    findutils:
      version: [4.7.0]
    udunits:
      version: [2.2.28]
    openmpi:
      variants: +internal-hwloc
    mpich:
      variants: ~hwloc
