packages:
  all:
    compiler:: [intel@2021.5.0, aocc@4.0.0, gcc@12.2.1, oneapi@2024.1.2]
    providers:
      mpi:: [openmpi@4.1.6, openmpi@5.0.1, intel-oneapi-mpi@2021.12]
      blas:: [intel-oneapi-mkl]
      fftw-api:: [intel-oneapi-mkl]
      lapack:: [intel-oneapi-mkl]
  ectrans:
    variants:: +mkl ~fftw
  gsibec:
    variants:: +mkl

### MPI, Python, MKL
  mpi:
    buildable: False
  openmpi:
    externals:
    - spec: openmpi@4.1.6%intel@2021.5.0~cuda~cxx~cxx_exceptions~java~memchecker+pmi~static~wrapper-rpath fabrics=ucx schedulers=slurm
      prefix: /p/app/penguin/openmpi/4.1.6/intel-classic-2022.0.2
      modules:
      - penguin/openmpi/4.1.6/intel-classic-2022.0.2
      - slurm
    - spec: openmpi@4.1.4%aocc@4.0.0~cuda~cxx~cxx_exceptions~java~memchecker+pmi~static~wrapper-rpath fabrics=ucx schedulers=slurm
      prefix: /p/app/penguin/openmpi/4.1.4/aoc
      modules:
      - penguin/openmpi/4.1.4/aocc
      - slurm
    - spec: openmpi@5.0.1%gcc@12.2.1~cuda~java~memchecker~static~wrapper-rpath fabrics=ucx schedulers=slurm
      prefix: /p/app/penguin/openmpi/5.0.1/gcc-8.5.0
      modules:
      - penguin/openmpi/5.0.1/gcc-8.5.0
      - slurm
  intel-oneapi-mpi:
    externals:
    - spec: intel-oneapi-mpi@2021.12%oneapi@2024.1.2
      prefix: /p/app/projects/NEPTUNE/spack-stack/oneapi-2024.1.2
  intel-oneapi-mkl:
    externals:
    - spec: intel-oneapi-mkl@2022.0.2%intel@2021.5.0
      prefix: /p/app/compilers/intel/oneapi
      modules:
      - intel-oneapi-mkl@2022.0.2
    - spec: intel-oneapi-mkl@2022.0.2%gcc@12.2.1
      prefix: /p/app/compilers/intel/oneapi
      modules:
      - intel-oneapi-mkl@2022.0.2
    - spec: intel-oneapi-mkl@2024.1%oneapi@2024.1.2
      prefix: /p/app/projects/NEPTUNE/spack-stack/oneapi-2024.1.2
  intel-oneapi-runtime:
    externals:
    - spec: intel-oneapi-runtime@2024.1.2%oneapi@2024.1.2
      prefix: /p/app/projects/NEPTUNE/spack-stack/oneapi-2024.1.2

### Modifications of common packages
  # Version 2.0.8 doesn't compile on Nautilus
  wgrib2:
    version:: ['3.1.1']

### All other external packages listed alphabetically
  autoconf:
    externals:
    - spec: autoconf@2.69
      prefix: /usr
  automake:
    externals:
    - spec: automake@1.16.1
      prefix: /usr
  binutils:
    externals:
    - spec: binutils@2.30.117
      prefix: /usr
  bison:
    externals:
    - spec: bison@3.0.4
      prefix: /usr
  coreutils:
    externals:
    - spec: coreutils@8.30
      prefix: /usr
  diffutils:
    externals:
    - spec: diffutils@3.6
      prefix: /usr
  ecflow:
    buildable: False
    externals:
    - spec: ecflow@5.8.4+ui+static_boost
      prefix: /p/app/projects/NEPTUNE/spack-stack/ecflow-5.8.4
      modules:
      - ecflow/5.8.4
  findutils:
    externals:
    - spec: findutils@4.6.0
      prefix: /usr
  flex:
    externals:
    - spec: flex@2.6.1+lex
      prefix: /usr
  gawk:
    externals:
    - spec: gawk@4.2.1
      prefix: /usr
  git:
    externals:
    - spec: git@2.31.1~tcltk
      prefix: /usr
  git-lfs:
    externals:
    - spec: git-lfs@2.13.3
      prefix: /usr
  gmake:
    externals:
    - spec: gmake@4.2.1
      prefix: /usr
  groff:
    externals:
    - spec: groff@1.22.3
      prefix: /usr
  m4:
    externals:
    - spec: m4@1.4.18
      prefix: /usr
  mysql:
    externals:
    - spec: mysql@8.0.31
      prefix: /p/app/projects/NEPTUNE/spack-stack/mysql-8.0.31
      modules:
      - mysql/8.0.31
  perl:
    externals:
    - spec: perl@5.26.3~cpanm+open+shared+threads
      prefix: /usr
  pkgconf:
    externals:
    - spec: pkgconf@1.4.2
      prefix: /usr
  sed:
    externals:
    - spec: sed@4.5
      prefix: /usr
  tar:
    externals:
    - spec: tar@1.30
      prefix: /usr
  texinfo:
    externals:
    - spec: texinfo@6.5
      prefix: /usr
  wget:
    externals:
    - spec: wget@1.19.5
      prefix: /usr
