packages:
  all:
    compiler:: [intel@2021.9.0, gcc@12.2.0]
    providers:
      mpi:: [intel-oneapi-mpi@2021.9.0, openmpi@4.1.6]
      zlib-api:: [zlib]

### MPI, Python, MKL
  mpi:
    buildable: False
  intel-oneapi-mpi:
    externals:
    - spec: intel-oneapi-mpi@2021.9.0%intel@2021.9.0
      #prefix: /apps/spack-managed/oneapi-2023.1.0/intel-oneapi-mpi-2021.9.0-a66eaipzsnyrdgaqzxmqmqz64qzvhkse
      modules:
      - intel-oneapi-mpi/2021.9.0
  openmpi:
    externals:
    - spec: openmpi@4.1.6%gcc@12.2.0~cuda~cxx~cxx_exceptions~java~memchecker+pmi~static~wrapper-rpath schedulers=slurm
      modules:
      - gcc/12.2.0
      - openmpi/4.1.6

### Modifications of common packages

### All other external packages listed alphabetically
  autoconf:
    externals:
    - spec: autoconf@2.69
      prefix: /usr
  automake:
    externals:
    - spec: automake@1.16.2
      prefix: /usr
  binutils:
    externals:
    - spec: binutils@2.35.2
      prefix: /usr
  bison:
    externals:
    - spec: bison@3.7.4
      prefix: /usr
  coreutils:
    externals:
    - spec: coreutils@8.32
      prefix: /usr
  cmake:
    externals:
    - spec: cmake@3.20.2
      prefix: /usr
  curl:
    externals:
    - spec: curl@7.76.1+gssapi+ldap+nghttp2
      prefix: /usr
  diffutils:
    externals:
    - spec: diffutils@3.7
      prefix: /usr
  ecflow:
    buildable: False
    externals:
    - spec: ecflow@5.8.4+ui+static_boost
      prefix: /work/noaa/epic/role-epic/spack-stack/orion/ecflow-5.8.4
      modules:
      - ecflow/5.8.4
  findutils:
    externals:
    - spec: findutils@4.8.0
      prefix: /usr
  flex:
    externals:
    - spec: flex@2.6.4+lex
      prefix: /usr
  gawk:
    externals:
    - spec: gawk@5.1.0
      prefix: /usr
  gettext:
    externals:
    - spec: gettext@0.21
      prefix: /usr
  git:
    externals:
    - spec: git@2.31.1~tcltk
      prefix: /usr
  git-lfs:
    externals:
    - spec: git-lfs@3.1.2
      prefix: /apps/spack-managed/gcc-11.3.1/git-lfs-3.1.2
  gmake:
    externals:
    - spec: gmake@4.3
      prefix: /usr
  groff:
    externals:
    - spec: groff@1.22.4
      prefix: /usr
  # Don't use, incomplete installation!
  #libtool:
  #  externals:
  #  - spec: libtool@2.4.6
  #    prefix: /usr
  m4:
    externals:
    - spec: m4@1.4.19
      prefix: /usr
  openssh:
    externals:
    - spec: openssh@8.7p1
      prefix: /usr
  openssl:
    externals:
    - spec: openssl@3.0.1
      prefix: /usr
  perl:
    externals:
    - spec: perl@5.32.1~cpanm+opcode+open+shared+threads
      prefix: /usr
  pkgconf:
    externals:
    - spec: pkgconf@1.7.3
      prefix: /usr
  qt:
    externals:
    - spec: qt@5.15.8
      prefix:  /apps/spack-managed/gcc-11.3.1/qt-5.15.8-d47tsna6f5dylcpblkfgw4gpn2cucihd
  sed:
    externals:
    - spec: sed@4.8
      prefix: /usr
  subversion:
    externals:
    - spec: subversion@1.14.1
      prefix: /usr
  tar:
    externals:
    - spec: tar@1.34
      prefix: /usr
