packages:
  all:
    #require: ['%nvhpc']
    providers:
      mpi: [openmpi@3.1.5]
      zlib-api: [zlib]
      blas: [nvhpc]
    compiler: [nvhpc@24.3]

### Compiler, MPI, Python, MKL
  nvhpc:
    buildable: false
    externals:
    - spec: nvhpc@24.3 %nvhpc
      modules:
      - nvhpc/24.3
  openmpi:
    externals:
    - spec: openmpi@3.1.5+cuda+cxx~cxx_exceptions~java~memchecker+pmi+static~wrapper-rpath
        schedulers=slurm
      prefix: /opt/nvidia/hpc_sdk/Linux_x86_64/24.3/comm_libs/openmpi/openmpi-3.1.5
  python:
    buildable: false
    externals:
    - spec: python@3.10.12+bz2+crypt+ctypes+dbm+lzma+nis+pyexpat~pythoncmd+readline+sqlite3+ssl~tkinter+uuid+zlib
      prefix: /usr
    require: "@3.10.12"

### All other external packages listed alphabetically
  autoconf:
    externals:
    - spec: autoconf@2.71
      prefix: /usr
  automake:
    externals:
    - spec: automake@1.16.5
      prefix: /usr
  binutils:
    externals:
    - spec: binutils@2.38
      prefix: /usr
  cmake:
    buildable: false
    externals:
    - spec: cmake@3.22.1
      prefix: /usr
  coreutils:
    externals:
    - spec: coreutils@8.32
      prefix: /usr
  curl:
    buildable: false
    externals:
    - spec: curl@7.81.0+gssapi+ldap+nghttp2
      prefix: /usr
  diffutils:
    externals:
    - spec: diffutils@3.8
      prefix: /usr
  findutils:
    externals:
    - spec: findutils@4.8.0
      prefix: /usr
  gawk:
    externals:
    - spec: gawk@5.1.0
      prefix: /usr
  gettext:
    externals:
    - spec: gettext@0.21
      prefix: /usr
  git:
    externals:
    - spec: git@2.34.1~tcltk
      prefix: /usr
  git-lfs:
    externals:
    - spec: git-lfs@3.0.2
      prefix: /usr
  gmake:
    externals:
    - spec: gmake@4.3
      prefix: /usr
  groff:
    externals:
    - spec: groff@1.22.4
      prefix: /usr
  m4:
    externals:
    - spec: m4@1.4.18
      prefix: /usr
  meson:
    externals:
    - spec: meson@0.61.2
      prefix: /usr
  ninja:
    externals:
    - spec: ninja@1.10.1
      prefix: /usr
  perl:
    externals:
    - spec: perl@5.34.0~cpanm+opcode+open+shared+threads
      prefix: /usr
  sed:
    externals:
    - spec: sed@4.8
      prefix: /usr
  tar:
    externals:
    - spec: tar@1.34
      prefix: /usr
  texlive:
    externals:
    - spec: texlive@20220321
      prefix: /usr
  wget:
    externals:
    - spec: wget@1.21.2
      prefix: /usr
