packages:
  all:
    compiler:: [intel@2021.10.0, gcc@12.2.0]
    providers:
      mpi:: [cray-mpich@8.1.25] # intel-oneapi-mpi@2021.10.0,
    target: [core2]

### MPI, Python, MKL
  mpi:
    buildable: False
  #intel-oneapi-mpi:
  #  externals:
  #  - spec: intel-oneapi-mpi@2021.10.0%intel@2021.10.0
  #    prefix: /glade/u/apps/derecho/23.09/spack/opt/spack/intel-oneapi-mpi/2021.10.0/oneapi/2023.2.1/ve6v
  #    modules:
  #    - intel-mpi/2021.10.0
  cray-mpich:
    externals:
    - spec: cray-mpich@8.1.25%intel@2021.10.0 +wrappers
      #prefix: /opt/cray/pe/mpich/8.1.25/ofi/intel/19.0
      modules:
      - craype/2.7.20
      - cray-mpich/8.1.25
      - libfabric/1.15.2.0
      - cray-pals/1.2.11
    - spec: cray-mpich@8.1.25%gcc@12.2.0 +wrappers
      #prefix: /opt/cray/pe/mpich/8.1.25/ofi/gnu/9.1
      modules:
      - craype/2.7.20
      - cray-mpich/8.1.25
      - libfabric/1.15.2.0
      - cray-pals/1.2.11

### Modification of common packages
  esmf:
    variants: ~xerces ~pnetcdf snapshot=none ~shared +external-parallelio esmf_os=Linux esmf_comm=mpich

### All other external packages listed alphabetically
  autoconf:
    externals:
    - spec: autoconf@2.71
      prefix: /glade/u/apps/derecho/23.09/opt/view
    - spec: autoconf@2.69
      prefix: /usr
  automake:
    externals:
    - spec: automake@1.16.5
      prefix: /glade/u/apps/derecho/23.09/opt/view
    - spec: automake@1.15.1
      prefix: /usr
  binutils:
    externals:
    - spec: binutils@2.37.20211103
      prefix: /usr
  cmake:
    externals:
    - spec: cmake@3.26.3
      prefix: /glade/u/apps/derecho/23.09/spack/opt/spack/cmake/3.26.3/gcc/7.5.0/k34x
  coreutils:
    externals:
    - spec: coreutils@8.32
      prefix: /usr
  curl:
    externals:
    - spec: curl@8.1.2+nghttp2
      prefix: /glade/u/apps/derecho/23.09/opt/view
    - spec: curl@7.79.1+gssapi+ldap+nghttp2
      prefix: /usr
  cvs:
    externals:
    - spec: cvs@1.12.13
      prefix: /usr
  diffutils:
    externals:
    - spec: diffutils@3.6
      prefix: /usr
  ecflow:
    buildable: False
    externals:
    - spec: ecflow@5.8.4+ui+static_boost
      prefix: /glade/work/epicufsrt/contrib/spack-stack/derecho/ecflow-5.8.4
      modules:
      - ecflow/5.8.4
  findutils:
    externals:
    - spec: findutils@4.8.0
      prefix: /usr
  flex:
    externals:
    - spec: flex@2.6.4+lex
      prefix: /glade/u/apps/derecho/23.09/opt/view
  gawk:
    externals:
    - spec: gawk@4.2.1
      prefix: /usr
  git:
    externals:
    - spec: git@2.41.0+tcltk
      prefix: /glade/u/apps/derecho/23.09/opt/view
    - spec: git@2.35.3+tcltk
      prefix: /usr
  git-lfs:
    externals:
    - spec: git-lfs@3.3.0
      prefix: /glade/u/apps/derecho/23.09/opt/view
  gmake:
    externals:
    - spec: gmake@4.2.1
      prefix: /usr
  groff:
    externals:
    - spec: groff@1.22.4
      prefix: /usr
  krb5:
    externals:
    - spec: krb5@1.19.2
      prefix: /usr/lib/mit
  libtool:
    externals:
    - spec: libtool@2.4.7
      prefix: /glade/u/apps/derecho/23.09/opt/view
    - spec: libtool@2.4.6
      prefix: /usr
  m4:
    externals:
    - spec: m4@1.4.18
      prefix: /usr
  # Automatically detected, but don't use - missing "ninja" dependency
  #meson:
  #  externals:
  #  - spec: meson@1.2.0
  #    prefix: /glade/u/apps/derecho/23.09/opt/view
  mysql:
    buildable: False
    externals:
    - spec: mysql@8.0.33
      prefix: /glade/work/epicufsrt/contrib/spack-stack/derecho/mysql-8.0.33
  openssh:
    externals:
    - spec: openssh@8.4p1
      prefix: /usr
  openssl:
    externals:
    - spec: openssl@1.1.1l
      prefix: /usr
  pkg-config:
    externals:
    - spec: pkg-config@0.29.2
      prefix: /usr
  subversion:
    externals:
    - spec: subversion@1.14.1
      prefix: /usr
  tar:
    externals:
    - spec: tar@1.34
      prefix: /usr
  texinfo:
    externals:
    - spec: texinfo@7.0.3
      prefix: /glade/u/apps/derecho/23.09/opt/view
    - spec: texinfo@6.5
      prefix: /usr
  wget:
    externals:
    - spec: wget@1.20.3
      prefix: /usr
