packages:
  all:
    compiler:: [oneapi@2024.2.1,gcc@11.2.0]
    providers:
      mpi:: [intel-oneapi-mpi@2021.13.0]
  mpi:
    buildable: False
  intel-oneapi-mpi:
    externals:
    - spec: intel-oneapi-mpi@2021.13%2024.2.1
      prefix: /cm/shared/apps/intel/oneapi-2024.2.1
      modules:
      - mpi/2021.13
      - slurm
  intel-oneapi-mkl:
    externals:
    - spec: intel-oneapi-mkl@2024.2
      modules:
      - mkl/2024.2
      prefix: /cm/shared/apps/intel/oneapi-2024.2.1
  intel-oneapi-tbb:
    externals:
    - spec: intel-oneapi-tbb@2021.13
      prefix: /cm/shared/apps/intel/oneapi-2024.2.1
      modules:
      - tbb/2021.13
