spack:
  config:
    install_tree:
      root: $env/install
    deprecated: true
  modules:
    default:
      roots:
        lmod: $env/install/modulefiles
        tcl: $env/install/modulefiles
      lmod:
        projections:
          parallelio: 'pio/{version}'
      tcl: 
        projections:
          parallelio: '{^mpi.name}/{^mpi.version}/{compiler.name}/{compiler.version}/pio/{version}'

  include: []

  concretizer:
    unify: when_possible

  specs:
  - jasper@2.0.25
  - zlib@1.2.11
  - libpng@1.6.37
  - hdf5@1.10.6
  - netcdf-c@4.7.4
  - netcdf-fortran@4.5.4
  - parallelio@2.5.7
  - esmf@8.3.0b09
  - fms@2022.01
  - bacio@2.4.1
  - crtm@2.3.0
  - g2@3.4.5
  - g2tmpl@1.10.0
  - ip@3.3.3
  - sp@2.3.3
  - w3emc@2.9.2
  - gftl-shared@1.5.0
  - yafyaml@0.5.1
  - mapl@2.22.0
  

