spack:
  concretizer:
    unify: when_possible

  view: false
  include: []

  definitions:
  - compilers: ['%aocc', '%apple-clang', '%gcc', '%intel']
  - packages:
      - ewok-env +ecflow +cylc
      - ai-env
      - geos-gcm-env
      - global-workflow-env
      - gmao-swell-env
      - gsi-env
      - jedi-fv3-env
      - jedi-geos-env
      - jedi-mpas-env
      - jedi-neptune-env
      - jedi-tools-env
      - jedi-ufs-env
      - jedi-um-env
      - soca-env
      - ufs-srw-app-env
      - ufs-weather-model-env

      # Various fms tags (list all to avoid duplicate packages)
      - fms@release-jcsda
      - fms@2023.04

      # Various crtm tags (list all to avoid duplicate packages)
      - crtm@2.4.0.1
      - crtm@v2.4.1-jedi

      # MADIS for WCOSS2 decoders.
      - madis@4.5

  specs:
    - matrix:
      - [$packages]
      - [$compilers]
      exclude:
        # py-torch in ai-env doesn't build with Intel
        - ai-env%intel
        # jedi-tools doesn't build with Intel
        - jedi-tools-env%intel
        # wgrib2 in global-workflow-env/ufs-srw-app-env doesn't build with Intel oneAPI
        - global-workflow-env%oneapi
        - ufs-srw-app-env%oneapi
