spack:
  concretizer:
    unify: when_possible

  view: false
  include: []

  definitions:
  - compilers: ['%aocc', '%apple-clang', '%gcc', '%intel']
  - packages:
      - ewok-env +ecflow +cylc
      - geos-gcm-env
      - global-workflow-env
      - gmao-swell-env
      - gsi-env
      - jedi-fv3-env
      - jedi-mpas-env
      - jedi-neptune-env
      - jedi-tools-env
      - jedi-ufs-env ^mapl@2.40.3 ^esmf@8.5.0
      - jedi-um-env
      #- nceplibs-env
      - soca-env
      - ufs-srw-app-env ^mapl@2.40.3 ^esmf@8.5.0
      #- ufs-utils-env
      - ufs-weather-model-env ^mapl@2.40.3 ^esmf@8.5.0
      #- upp-env
      #- ww3-env

      # Various fms tags (list all to avoid duplicate packages)
      - fms@release-jcsda
      - fms@2023.04

      # Various crtm tags (list all to avoid duplicate packages)
      - crtm@2.4.0.1
      - crtm@v2.4.1-jedi

      # Various esmf/mapl tags (list all to avoid duplicate packages)
      - mapl@2.40.3 ^esmf@8.5.0
      - mapl@2.40.3 ^esmf@8.6.0

      # MADIS for WCOSS2 decoders.
      - madis@4.5

  specs:
    - matrix:
      - [$packages]
      - [$compilers]
      exclude:
        # jedi-tools doesn't build with Intel
        - jedi-tools-env%intel
