packages:
  all:
    compiler:: [intel@2021.10.0,gcc@11.4.0]
    providers:
      mpi:: [intel-oneapi-mpi@2021.10.0]
  mpi:
    buildable: False
  intel-oneapi-mpi:
    externals:
    - spec: intel-oneapi-mpi@2021.10.0%intel@=2021.10.0
      prefix: /usr/local/intel/oneapi/2021
      modules:
      - mpi/impi/2021.10.0
  intel-oneapi-mkl:
    externals:
    - spec: intel-oneapi-mkl@2032.2.0%intel@2021.10.0
      prefix: /usr/local/intel/oneapi/2021
