spack:
  config:
    install_tree:
      root: $env/install
  modules:
    default:
      roots:
        lmod: $env/install/modulefiles
        tcl: $env/install/modulefiles
      lmod:
        projections:
          parallelio: 'parallelio/2.5.2'

  include: []

  concretizer:
    unify: true

  specs:
  - jasper@2.0.25
  - zlib@1.2.12
  - libpng@1.6.37
  - hdf5@1.10.6
  - netcdf-c@4.7.4
  - netcdf-fortran@4.5.4
  - parallelio@2.5.2
  - esmf@8.3.0bs09
  - fms@2021.03
  - bacio@2.4.1
  - crtm@2.3.0
  - g2@3.4.3
  - g2tmpl@1.10.0
  - ip@3.3.3
  - w3nco@2.4.1
  - upp@10.0.10
  - gftl-shared@1.3.3
  - yafyaml@0.5.1
  - mapl@2.12.0
  - gfsio@1.4.1
  - landsfcutil@2.4.1
  - nemsio@2.5.2
  - nemsiogfs@2.5.3
  - sfcio@1.4.1
  - sigio@2.3.2
  - w3emc@2.7.3
  - wgrib2@2.0.8
