spack:
  concretizer:
    unify: when_possible

  view: false
  include: []

  specs:
    # Virtual environment packages
    - jedi-ewok-env
    - jedi-fv3-env
    - jedi-mpas-env
    - jedi-ufs-env
    - jedi-um-env
    - soca-env

    # Individual packages
    - bacio@2.4.1
    # Do not request specific version of bison - this leads to duplicate packages being built
    #- bison@3.8.2
    - bufr@11.7.1
    - crtm@2.3.0
    - crtm@2.4.0
    - crtm@v2.3-jedi.4
    - crtm@v2.4-jedi.2
    - crtm@v3.0.0-rc.1
    - ecbuild@3.6.5
    - eccodes@2.27.0
    - ecflow@5
    - eckit@1.20.2
    - ecmwf-atlas@0.32.1
    - ectrans@1.2.0
    - eigen@3.4.0
    - esmf@8.4.1
    # DH* fake version number
    #- ewok@0.0.1
    - fckit@0.10.0
    - fiat@1.1.0
    # Do not request specific version of flex - this leads to duplicate packages being built
    #- flex@2.6.4
    - fms@2022.04
    # DH* fake version number
    - fms@release-jcsda
    - g2@3.4.5
    - g2tmpl@1.10.2
    #- gdal@3.4.3
    #- geos@3.9.1
    - gftl-shared@1.5.0
    - gsibec@1.0.7
    - hdf@4.2.15
    - hdf5@1.14.0
    - ip@3.3.3
    - jasper@2.0.32
    - jedi-cmake@1.4.0
    - libpng@1.6.37
    - mapl@2.35.2
    - nccmp@1.9.0.1
    - ncview@2.1.8
    - nemsio@2.5.2
    - netcdf-c@4.9.0
    - netcdf-cxx4@4.3.1
    - netcdf-fortran@4.6.0
    - nlohmann-json@3.10.5
    - nlohmann-json-schema-validator@2.1.0
    - odc@1.4.5
    - parallelio@2.5.9
    - parallel-netcdf@1.12.2
    - py-eccodes@1.4.2
    - py-f90nml@1.4.3
    - py-numpy@1.22.3
    - py-pandas@1.4.0
    - py-pyyaml@6.0
    - py-scipy@1.9.3
    - py-shapely@1.8.0
    - py-xarray@2022.3.0
    # DH* fake version number
    #- r2d2@0.0.1
    # DH* fake version number
    - shumlib@macos_clang_linux_intel_port
    - sigio@2.3.2
    #- solo@1.0.0
    - sp@2.3.3
    - udunits@2.2.28
    - w3emc@2.9.2
    - w3nco@2.4.1
    - yafyaml@0.5.1
    - zlib@1.2.13
