spack:
  concretizer:
    unify: when_possible

  view: false
  include: []

  definitions:
  - compilers: ['%aocc', '%apple-clang', '%gcc', '%intel']
  - packages:
      - ewok-env@unified-dev
      - jedi-fv3-env@unified-dev
      - jedi-mpas-env@unified-dev
      - jedi-neptune-env@unified-dev
      - jedi-ufs-env@unified-dev
      - jedi-um-env@unified-dev
      - soca-env@unified-dev

  specs:
    - matrix:
      - [$packages]
      - [$compilers]
