spack:
  concretizer:
    unify: when_possible

  view: false
  include: []

  definitions:
  - compilers: ['%aocc', '%apple-clang', '%gcc', '%intel', '%oneapi']
  - packages:
    - ewok-env +ecflow +cylc
    - ai-env
    - geos-gcm-env          ^esmf@=8.6.1
    - jedi-fv3-env
    - jedi-geos-env         ^esmf@=8.6.1
    - jedi-mpas-env
    - jedi-neptune-env      ^esmf@=8.7.0b04
    - jedi-ufs-env          ^esmf@=8.6.1
    - jedi-um-env
    - soca-env

    # Various crtm tags (list all to avoid duplicate packages)
    - crtm@2.4.0.1
    - crtm@v2.4.1-jedi

    # Various esmf tags (list all to avoid duplicate packages)
    - esmf@=8.6.1 snapshot=none
    - esmf@=8.7.0b04 snapshot=b04

  specs:
  - matrix:
    - [$packages]
    - [$compilers]
    exclude:
    # py-torch in ai-env doesn't build with Intel
    - ai-env%intel
