spack:
  concretizer:
    unify: when_possible

  view: false
  include: []

  definitions:
  - compilers: ['%aocc', '%apple-clang', '%gcc', '%intel']
  - packages:
      - ewok-env
      - jedi-fv3-env
      - jedi-mpas-env
      - jedi-neptune-env
      - jedi-ufs-env
      - jedi-um-env
      - soca-env

      # Various fms tags (list all to avoid duplicate packages)
      - fms@release-jcsda
      - fms@2023.01
      - fms@2023.02.01
      - fms@2023.03

      # Various crtm tags (list all to avoid duplicate packages)
      - crtm@2.4.0
      - crtm@v2.4.1-jedi

  specs:
    - matrix:
      - [$packages]
      - [$compilers]
