packages:
  all:
    compiler:: [gcc@12.2.0]
    providers:
      mpi:: [openmpi@4.1.4]
      # https://github.com/JCSDA/spack-stack/issues/1055
      zlib-api:: [zlib]
  mpi:
    buildable: False
  openmpi:
    externals:
    - spec: openmpi@4.1.4%gcc@12.2.0 ~atomics~cuda~cxx~cxx_exceptions~gpfs~internal-hwloc~internal-libevent~internal-pmix~java~legacylaunchers~lustre~memchecker~openshmem~orterunprefix+pmi+romio+rsh~singularity+static+vt+wrapper-rpath fabrics=none romio-filesystem=none schedulers=slurm
      modules:
      - gcc/12.2.0
      - openmpi/4.1.4
