  packages:
    all:
      compiler:: [intel@19.1.3.304]
      providers:
        mpi:: [cray-mpich@8.1.9]
    cray-mpich:
      externals:
      - spec: cray-mpich@8.1.9~wrappers
        modules:
        - libfabric
        - craype-network-ofi
        - cray-mpich/8.1.9
    openssl:
      buildable: false
      externals:
      - spec: openssl@1.1.1d
        prefix: /usr
    tar:
      buildable: false
      externals:
      - spec: tar@1.34
        prefix: /usr
    diffutils:
      buildable: false
      externals:
      - spec: diffutils@3.6
        prefix: /usr
    pkgconfig:
      buildable: false
    m4:
      buildable: false
      externals:
      - spec: m4@1.4.18
        prefix: /usr
    openssh:
      buildable: false
      externals:
      - spec: openssh@8.4p1
        prefix: /usr
    pkg-config:
      buildable: false
      externals:
      - spec: pkg-config@0.29.2
        prefix: /usr
    wget:
      buildable: false
      externals:
      - spec: wget@1.20.3
        prefix: /usr
    cmake:
      buildable: false
      externals:
      - spec: cmake@3.20.2
        modules: [cmake/3.20.2]
    git:
      buildable: false
      externals:
      - spec: git@2.35.3
        prefix: /usr
      externals:
      - spec: git@2.29.0
        modules: [git/2.29.0]
    git-lfs:
      buildable: false
      externals:
      - spec: git-lfs@2.11.0
        modules: [git-lfs/2.11.0]
    python:
      buildable: false
      externals:
      - spec: python@3.8.6+bz2+ctypes+dbm~debug+libxml2+lzma~nis~optimizations+pic+pyexpat+pythoncmd+readline+shared+sqlite3+ssl~tix~tkinter~ucs4+uuid+zlib
        modules: [python/3.8.6]
    # On Acorn, perl module requires gcc :(
    perl:
      buildable: false
      externals:
      - spec: perl@5.26.1~cpanm+shared+threads
        prefix: /usr
    curl:
      buildable: false
      externals:
      - spec: curl@7.72.0
        modules: [curl/7.72.0]
    libxml2:
      buildable: false
      externals:
      - spec: libxml2@2.9.10
        modules: [libxml2/2.9.10]
