  packages:
    all:
      compiler:: [intel@19.1.3.304,intel@2022.0.2.262,gcc@10.2.0]
      providers:
        mpi:: [cray-mpich@8.1.9]
        # Remove the next three lines to switch to intel-oneapi-mkl
        blas:: [openblas]
        fftw-api:: [fftw]
        lapack:: [openblas]
    mpi:
      buildable: False
    cray-mpich:
      externals:
      - spec: cray-mpich@8.1.9~wrappers
        modules:
        - libfabric
        - craype-network-ofi
        - cray-mpich/8.1.9
    ectrans:
      require::
      - '@1.2.0 ~mkl +fftw'
    gsibec:
      require::
      - '@1.2.1 ~mkl'
    py-numpy:
      require::
      - '^[virtuals=lapack,blas] openblas'
      - '@:1.25'
      - any_of: ['@:1.24']
        when: '%intel@19.1.3.304'
    # *DH
    eckit:
      require:
      - '%intel'
      - any_of: ["@1.23.1"]
        when: "%intel@19.1.3.304"
    eccodes:
      require:
      - any_of: ["@2.25.0"]
        when: "%intel@19.1.3.304"
        message: "2.25.0 is the last version to use C++11 (as opposed to C++17)"
    py-scipy:
      require:
      - any_of: ["@1.10.1"]
        when: "%intel@19.1.3.304"
    cdo:
      require:
      - '%intel'
      - any_of: ["@2.2.2"]
        when: "%intel@2022.0.2.262"
        message: "2.3.0 is the last version to use C++17"
      - any_of: ["@2.0.5"]
        when: "%intel@19.1.3.304"
        message: "2.0.5 is the last version to use C++14"
    git:
      buildable: false
      externals:
      - spec: git@2.35.3
        prefix: /usr
    git-lfs:
      buildable: false
      externals:
      - spec: git-lfs@2.11.0
        modules: [git-lfs/2.11.0]
    ecflow::
      buildable: false
      externals:
      - spec: ecflow@5.6.0
        modules: [ecflow/5.6.0.13]
    pkg-config:
      buildable: false
      externals:
      - spec: pkg-config@0.29.2
        prefix: /usr
    patchelf:
      version: ['0.13.1']
    gettext:
      version: ['0.19.7']
    rhash:
      version: ['1.3.5']
    gdal:
      variants: ~curl
    flex:
      buildable: false
      externals:
      - spec: flex@2.6.4+lex
        prefix: /usr
