  packages:
    all:
      compiler:: [intel@19.1.3.304,gcc@11.2.0]
      providers:
        mpi:: [cray-mpich@8.1.9]
    cray-mpich:
      externals:
      - spec: cray-mpich@8.1.9~wrappers
        modules:
        - libfabric
        - craype-network-ofi
        - cray-mpich/8.1.9
    esmf:
      version: [8.3.0b09]
      variants: ~xerces ~pnetcdf +pio ~shared snapshot=b09 esmf_os=Linux esmf_comm=mpich3
    git:
      buildable: false
      externals:
      - spec: git@2.35.3
        prefix: /usr
    git-lfs:
      buildable: false
      externals:
      - spec: git-lfs@2.11.0
        modules: [git-lfs/2.11.0]
    python:
      buildable: false
      externals:
      - spec: python@3.8.6%intel
        prefix: /apps/spack/python/3.8.6/intel/19.1.3.304/pjn2nzkjvqgmjw4hmyz43v5x4jbxjzpk
      - spec: python@3.8.6%gcc
        prefix: /apps/spack/python/3.8.6/gcc/11.2.0/gr4zqejk5oxwsrmxvkenmye4nni4zt6e
    perl:
      buildable: false
      externals:
      - spec: perl@5.26.1~cpanm+shared+threads
        prefix: /usr
    mysql:
      buildable: false
      externals:
      - spec: mysql@8.0.31
        prefix: /lfs/h1/emc/nceplibs/noscrub/spack-stack/externals/mysql/mysql-8.0.31-linux-glibc2.17-x86_64-minimal
    ecflow:
      buildable: false
      externals:
      - spec: ecflow@5.6.0
        modules: [ecflow/5.6.0.13]
    pkg-config:
      buildable: false
      externals:
      - spec: pkg-config@0.29.2
        prefix: /usr
    patchelf:
      version: [0.13.1]
    gettext:
      version: [0.19.7]
    rhash:
      version: [1.3.5]
    gdal:
      variants: ~curl
    py-scipy:
      version: [1.8.1]
