compilers::
  - compiler:
      spec: intel@2021.4.0
      paths:
        cc: cc
        cxx: CC
        f77: ftn
        fc: ftn
      flags: {}
      operating_system: sles15
      modules:
      - PrgEnv-intel/8.3.2
      - intel-classic/2021.4.0
      environment:
        prepend_path:
          PATH: '/opt/cray/pe/gcc/10.3.0/snos/bin'
          CPATH: '/opt/cray/pe/gcc/10.3.0/snos/include'
          LD_LIBRARY_PATH: '/opt/cray/pe/libsci/22.08.1.1/INTEL/19.0/x86_64/lib:/opt/cray/pe/gcc/10.3.0/snos/lib:/opt/cray/pe/gcc/10.3.0/snos/lib64'
        set:
          CRAYPE_LINK_TYPE: 'dynamic'
      extra_rpaths: []
  - compiler:
      spec: gcc@10.3.0
      paths:
        cc: cc
        cxx: CC
        f77: ftn
        fc: ftn
      flags: {}
      operating_system: sles15
      modules:
      - PrgEnv-gnu/8.3.2
      - gcc/10.3.0
      environment:
        prepend_path:
          LD_LIBRARY_PATH: '/opt/cray/pe/libsci/22.08.1.1/GNU/9.1/x86_64/lib'
        set:
          CRAYPE_LINK_TYPE: 'dynamic'
      extra_rpaths: []
