  packages:
    all:
      compiler:: [intel@19.1.3.304,intel@2022.0.2.262,gcc@10.2.0]
      providers:
        mpi:: [cray-mpich@8.1.9]
        # Remove the next three lines to switch to intel-oneapi-mkl
        blas:: [openblas]
        fftw-api:: [fftw]
        lapack:: [openblas]
    mpi:
      buildable: False
    cray-mpich:
      externals:
      - spec: cray-mpich@8.1.9~wrappers
        modules:
        - libfabric
        - craype-network-ofi
        - cray-mpich/8.1.9
    intel-oneapi-mkl:
      # Remove buildable: False and configure+uncomment externals section below to use intel-oneapi-mkl
      buildable: False
      #externals:
      #- spec: intel-oneapi-mkl@2022.0.2%intel@2021.5.0
      #  prefix: /apps/oneapi
    # DH* Remove this section to switch to intel-oneapi-mkl
    ectrans:
      require::
      - '@1.2.0 ~mkl +fftw'
    gsibec:
      require::
      - '@1.2.1 ~mkl'
    py-numpy:
      require::
      - '@:1.24 ^openblas'
    # *DH
    eckit:
      require:
      - any_of: ["@1.23.1"]
        when: "%intel@19.1.3.304"
    eccodes:
      require:
      - any_of: ["@2.25.0"]
        when: "%intel@19.1.3.304"
    py-scipy:
      require:
      - any_of: ["@1.10.1"]
        when: "%intel@19.1.3.304"
    cdo:
      require:
      - any_of: ["@2.0.5"]
        when: "%intel@19.1.3.304"
