  packages:
    git:
      buildable: false
      externals:
      - spec: git@2.35.3
        prefix: /usr
    git-lfs:
      buildable: false
      externals:
      - spec: git-lfs@2.11.0
        modules: [git-lfs/2.11.0]
    perl:
      buildable: false
      externals:
      - spec: perl@5.26.1~cpanm+shared+threads
        prefix: /usr
    mysql:
      buildable: false
      externals:
      - spec: mysql@8.0.31
        prefix: /lfs/h1/emc/nceplibs/noscrub/spack-stack/externals/mysql/mysql-8.0.31-linux-glibc2.17-x86_64-minimal
    ecflow::
      buildable: false
      externals:
      - spec: ecflow@5.6.0
        modules: [ecflow/5.6.0.13]
    pkg-config:
      buildable: false
      externals:
      - spec: pkg-config@0.29.2
        prefix: /usr
    patchelf:
      version: ['0.13.1']
    gettext:
      version: ['0.19.7']
    rhash:
      version: ['1.3.5']
    gdal:
      variants: ~curl
    flex:
      externals:
      - spec: flex@2.6.4+lex
        prefix: /usr
