spack:
  mirrors:
    local_filesystem: file:///home/username/spack-mirror-2014-06-24

  concretization: separately
  view: false

  config:
    install_hash_length: 7
    install_tree:
      root: install
      projections:
        all: "${COMPILERNAME}/${COMPILERVER}/${PACKAGE}-${VERSION}-${HASH}"
    module_roots:
      lmod: install/modulefiles
      tcl: install/modulefiles

    build_stage: ${SPACK_STACK_DIR}/cache/build_stage
    test_stage: ${SPACK_STACK_DIR}/cache/test_stage
    source_cache: ${SPACK_STACK_DIR}/cache/source_cache
    misc_cache: ${SPACK_STACK_DIR}/cache/misc_cache
  
  include:
    - ${SPACK_STACK_DIR}/configs/repos/repos.yaml
    - site.yaml
    
  specs:
    - gsl-lite@0.40.0
