packages:

  all:
    compiler:: [gcc@=13.3.0]
    providers:
      mpi:: [openmpi@=5.0.3]

  autoconf:
    externals:
    - spec: autoconf@2.69
      prefix: /usr
  automake:
    externals:
    - spec: automake@1.16.2
      prefix: /usr
  binutils:
    externals:
    - spec: binutils@2.35.2
      prefix: /usr
  bison:
    externals:
    - spec: bison@3.7.4
      prefix: /usr
  coreutils:
    externals:
    - spec: coreutils@8.32
      prefix: /usr
  diffutils:
    externals:
    - spec: diffutils@3.7
      prefix: /usr
  findutils:
    externals:
    - spec: findutils@4.8.0
      prefix: /usr
  flex:
    externals:
    - spec: flex@2.6.4+lex
      prefix: /usr
  gawk:
    externals:
    - spec: gawk@5.1.0
      prefix: /usr
  gettext:
    externals:
    - spec: gettext@0.21
      prefix: /usr
  git:
    externals:
    - spec: git@2.43.0~tcltk
      prefix: /usr
  git-lfs:
    externals:
    - spec: git-lfs@3.4.1
      prefix: /usr
  #gmake:
  #  externals:
  #  - spec: gmake@4.3
  #    prefix: /usr
  groff:
    externals:
    - spec: groff@1.22.4
      prefix: /usr
  m4:
    externals:
    - spec: m4@1.4.19
      prefix: /usr
  pkgconf:
    externals:
    - spec: pkgconf@1.7.3
      prefix: /usr
  sed:
    externals:
    - spec: sed@4.8
      prefix: /usr
  tar:
    externals:
    - spec: tar@1.34
      prefix: /usr
  texlive:
    externals:
    - spec: texlive@20200406
      prefix: /usr
  wget:
    externals:
    - spec: wget@1.21.1
      prefix: /usr
