spack:
  concretizer:
    unify: when_possible

  view: false
  include: []

  definitions:
  - compilers: ['%aocc', '%apple-clang', '%gcc', '%intel', '%oneapi']
  - packages:
      - neptune-env +espc ^esmf@8.7.0b11 snapshot=b11
      - neptune-python-env +xnrl

  specs:
    - matrix:
      - [$packages]
      - [$compilers]
