packages:
  all:
    compiler:: [intel@2021.6.0,gcc@11.2.0]
    providers:
      mpi:: [intel-oneapi-mpi@2021.6.0]
  mpi:
    buildable: False
  intel-oneapi-mpi:
    externals:
    - spec: intel-oneapi-mpi@2021.6.0%intel@2021.6.0
      prefix: /usr/local/intel/oneapi/2021
      modules:
      - mpi/impi/2021.6.0
  intel-oneapi-mkl:
    externals:
    - spec: intel-oneapi-mkl@2022.2.0%intel@2021.6.0
      prefix: /usr/local/intel/oneapi/2021
