compilers:
- compiler:
    spec: oneapi@2024.0.2
    paths:
      cc: /opt/intel/oneapi/compiler/2024.0/bin/icx
      cxx: /opt/intel/oneapi/compiler/2024.0/bin/icpx
      f77: /opt/intel/oneapi/compiler/2024.0/bin/ifort
      fc: /opt/intel/oneapi/compiler/2024.0/bin/ifort
    flags: {}
    operating_system: ubuntu22.04
    target: x86_64
    modules:
    - tbb/2021.11
    - compiler-rt/2024.0.2
    - oclfpga/2024.0.0
    - compiler/2024.0.2
    - ifort/2024.0.2
    environment:
      set:
        I_MPI_PMI_LIBRARY: '/opt/slurm/lib/libpmi.so'
    extra_rpaths: []
- compiler:
    spec: gcc@11.4.0
    paths:
      cc: /usr/bin/gcc
      cxx: /usr/bin/g++
      f77: /usr/bin/gfortran
      fc: /usr/bin/gfortran
    flags: {}
    operating_system: ubuntu22.04
    target: x86_64
    modules: []
    environment: {}
    extra_rpaths: []

