packages:
  all:
    compiler: [oneapi@2024.0.2, gcc@11.4.0]
    providers:
      mpi: [intel-oneapi-mpi@2021.11, openmpi@4.1.6]

### MPI, Python, MKL
  mpi:
    buildable: false
  intel-oneapi-mpi:
    externals:
    - spec: intel-oneapi-mpi@2021.11%oneapi@2024.0.2
      prefix: /opt/intel/oneapi
      modules:
      - libfabric-aws/1.19.0amzn4.0
      - mpi/2021.11
  openmpi:
    externals:
    - spec: openmpi@4.1.6%gcc@11.4.0~cuda~cxx~cxx_exceptions~java~memchecker+pmi~static~wrapper-rpath
        fabrics=ofi schedulers=slurm
      modules:
      - libfabric-aws/1.19.0amzn4.0
      - openmpi/4.1.6

### Modification of common packages

  # Provide option to use R2D2 with local MySQL server
  ewok-env:
    variants: +mysql

### All other external packages listed alphabetically
  autoconf:
    externals:
    - spec: autoconf@2.71
      prefix: /usr
  automake:
    externals:
    - spec: automake@1.16.5
      prefix: /usr
  binutils:
    externals:
    - spec: binutils@2.38
      prefix: /usr
  coreutils:
    externals:
    - spec: coreutils@8.32
      prefix: /usr
  diffutils:
    externals:
    - spec: diffutils@3.8
      prefix: /usr
  findutils:
    externals:
    - spec: findutils@4.8.0
      prefix: /usr
  flex:
    externals:
    - spec: flex@2.6.4+lex
      prefix: /usr
  gawk:
    externals:
    - spec: gawk@5.1.0
      prefix: /usr
  git:
    externals:
    - spec: git@2.34.1~tcltk
      prefix: /usr
  git-lfs:
    externals:
    - spec: git-lfs@3.0.2
      prefix: /usr
  groff:
    externals:
    - spec: groff@1.22.4
      prefix: /usr
  libtool:
    externals:
    - spec: libtool@2.4.6
      prefix: /usr
  m4:
    externals:
    - spec: m4@1.4.18
      prefix: /usr
  mysql:
    buildable: False
    externals:
    - spec: mysql@8.0.35
      prefix: /usr
  pkg-config:
    externals:
    - spec: pkg-config@0.29.2
      prefix: /usr
  qt:
    buildable: false
    externals:
    - spec: qt@5.15.3
      prefix: /usr
  sed:
    externals:
    - spec: sed@4.8
      prefix: /usr
  tar:
    externals:
    - spec: tar@1.34
      prefix: /usr
  texinfo:
    externals:
    - spec: texinfo@6.8
      prefix: /usr
  texlive:
    externals:
    - spec: texlive@20220204
      prefix: /usr
  wget:
    externals:
    - spec: wget@1.21.1
      prefix: /usr
