packages:
  all:
    compiler: [intel@2022.1.0, gcc@9.4.0]
    #compiler: [oneapi@2022.1.0]
    providers:
      mpi: [intel-oneapi-mpi@2021.6.0, openmpi@4.1.4]

### MPI, Python, MKL
  mpi:
    buildable: false
  intel-oneapi-mpi:
    externals:
    - spec: intel-oneapi-mpi@2021.6.0%intel@2022.1.0
      prefix: /opt/intel
      modules:
      - libfabric-aws/1.16.0~amzn4.0
      - intelmpi
    #externals:
    #- spec: intel-oneapi-mpi@2021.6.0%oneapi@2022.1.0
    #  prefix: /opt/intel
    #  modules:
    #  - libfabric-aws/1.16.0~amzn4.0
    #  - intelmpi
  openmpi:
    externals:
    - spec: openmpi@4.1.4%gcc@9.4.0~cuda~cxx~cxx_exceptions~java~memchecker+pmi~static~wrapper-rpath
        fabrics=ofi schedulers=slurm
      prefix: /opt/amazon/openmpi
      modules:
      - libfabric-aws/1.16.0~amzn4.0
      - openmpi/4.1.4

### Modification of common packages

  # https://github.com/spack/spack/issues/42137
  pflogger:
    variants: +mpi

### All other external packages listed alphabetically
  autoconf:
    externals:
    - spec: autoconf@2.69
      prefix: /usr
  automake:
    externals:
    - spec: automake@1.16.1
      prefix: /usr
  binutils:
    externals:
    - spec: binutils@2.34
      prefix: /usr
  boost:
    buildable: False
    externals:
    - spec: boost@1.71.0 +atomic +chrono +date_time +exception +filesystem +graph +iostreams +locale +log +math +mpi +numpy +pic +program_options +python +random +regex +serialization +signals +system +test +thread +timer +wave cxxstd=17 visibility=hidden
      prefix: /usr
  coreutils:
    externals:
    - spec: coreutils@8.30
      prefix: /usr
  diffutils:
    externals:
    - spec: diffutils@3.7
      prefix: /usr
  ecflow:
    buildable: False
    externals:
    - spec: ecflow@5.8.4 +ui
      prefix: /home/ubuntu/jedi/ecflow-5.8.4
  findutils:
    externals:
    - spec: findutils@4.7.0
      prefix: /usr
  flex:
    externals:
    - spec: flex@2.6.4+lex
      prefix: /usr
  gawk:
    externals:
    - spec: gawk@5.0.1
      prefix: /usr
  git:
    externals:
    - spec: git@2.25.1~tcltk
      prefix: /usr
  git-lfs:
    externals:
    - spec: git-lfs@2.9.2
      prefix: /usr
  gmake:
    externals:
    - spec: gmake@4.2.1
      prefix: /usr
  groff:
    externals:
    - spec: groff@1.22.4
      prefix: /usr
  libtool:
    externals:
    - spec: libtool@2.4.6
      prefix: /usr
  m4:
    externals:
    - spec: m4@1.4.18
      prefix: /usr
  mysql:
    buildable: False
    externals:
    - spec: mysql@8.0.32
      prefix: /usr
  perl:
    externals:
    - spec: perl@5.30.0~cpanm+shared+threads
      prefix: /usr
  pkg-config:
    externals:
    - spec: pkg-config@0.29.1
      prefix: /usr
  qt:
    buildable: false
    externals:
    - spec: qt@5.12.8
      prefix: /usr
  sed:
    externals:
    - spec: sed@4.7
      prefix: /usr
  tar:
    externals:
    - spec: tar@1.30
      prefix: /usr
  texinfo:
    externals:
    - spec: texinfo@6.7
      prefix: /usr
  texlive:
    externals:
    - spec: texlive@20190410
      prefix: /usr
  wget:
    externals:
    - spec: wget@1.20.3
      prefix: /usr
