packages:
  all:
    compiler:: [intel@2021.3.0]
    providers:
      mpi:: [intel-oneapi-mpi@2021.3.0]
  mpi:
    buildable: False
  intel-oneapi-mpi:
    externals:
    - spec: intel-oneapi-mpi@2021.3.0%intel@2021.3.0
      prefix: /apps/oneapi
      modules:
      - impi/2021.3.0
  intel-mpi:
    externals:
    - spec: intel-mpi@2018.4.274%intel@18.0.5
      prefix: /apps/intel/compilers_and_libraries_2018
      modules:
      - impi/2018.4.274
  openmpi:
    externals:
    - spec: openmpi@3.1.4%gcc@9.2.0
      prefix: /apps/openmpi/3.1.4/gnu/gcc-9.2.0
      modules:
      - openmpi/3.1.4
  bash:
    externals:
    - spec: bash@4.2.46
      prefix: /usr
  berkeley-db:
    externals:
    - spec: berkeley-db@5.3.21
      prefix: /usr
  cpio:
    externals:
    - spec: cpio@2.11
      prefix: /usr
  # Base curl leads to failed package downloads; added newer version to alleviate need to include curl as an env. spec..
  curl:
    externals:
    - spec: curl@7.85.0
      prefix: /contrib/EPIC/bin
  diffutils:
    externals:
    - spec: diffutils@3.3
      prefix: /usr
  file:
    externals:
    - spec: file@5.11
      prefix: /usr
  findutils:
    externals:
    - spec: findutils@4.5.11
      prefix: /usr
  gawk:
    externals:
    - spec: gawk@4.0.2
      prefix: /usr
  gettext:
    externals:
    - spec: gettext@0.19.8.1
      prefix: /usr
  # Base git (1.8.3.1) is fairly outdated and causes clone failures for some packages, so point to a newer version. Buildable set to false
  # because spack still wants to install another git without this flag, which seems unnecessary.
  git:
    externals:
    - spec: git@2.28.0
      prefix: /contrib/EPIC/bin
    buildable: False
  git-lfs:
    externals:
    - spec: git-lfs@3.2.0
      prefix: /contrib/EPIC/miniconda3/4.12.0
  gmake:
    externals:
    - spec: gmake@3.82
      prefix: /usr
  groff:
    externals:
    - spec: groff@1.22.2
      prefix: /usr
  hwloc:
    externals:
    - spec: hwloc@1.11.8
      prefix: /usr
  openjdk:
    externals:
    - spec: openjdk@1.8.0_322-b06
      prefix: /usr
  krb5:
    externals:
    - spec: krb5@1.15.1
      prefix: /usr
  lustre:
    externals:
    - spec: lustre@2.12.7
      prefix: /usr
  m4:
    externals:
    - spec: m4@1.4.16
      prefix: /usr
  ncurses:
    externals:
    - spec: ncurses@6.3.20211021+termlib abi=6
      prefix: /contrib/EPIC/miniconda3/4.12.0
  openssh:
    externals:
    - spec: openssh@7.4p1
      prefix: /usr
  openssl:
    externals:
    - spec: openssl@1.1.1q
      prefix: /contrib/EPIC/miniconda3/4.12.0
  perl:
    externals:
    - spec: perl@5.16.3~cpanm+shared+threads
      prefix: /usr
  pkg-config:
    externals:
    - spec: pkg-config@0.27.1
      prefix: /usr
  python:
    externals:
    - spec: python@3.9.12+bz2+ctypes+dbm+ensurepip+lzma+nis+pyexpat+pythoncmd+readline+sqlite3+ssl+tix+tkinter+uuid+zlib
      prefix: /contrib/EPIC/miniconda3/4.12.0
  rsync:
    externals:
    - spec: rsync@3.1.2
      prefix: /usr
  ruby:
    externals:
    - spec: ruby@2.0.0
      prefix: /usr
  sed:
    externals:
    - spec: sed@4.2.2
      prefix: /usr
  sqlite:
    externals:
    - spec: sqlite@3.38.2+fts~functions+rtree
      prefix: /contrib/EPIC/miniconda3/4.12.0
  tar:
    externals:
    - spec: tar@1.26
      prefix: /usr
  texinfo:
    externals:
    - spec: texinfo@5.1
      prefix: /usr
  wget:
    externals:
    - spec: wget@1.14
      prefix: /usr
  xz:
    externals:
    - spec: xz@5.2.5
      prefix: /contrib/EPIC/miniconda3/4.12.0
  zip:
    externals:
    - spec: zip@3.0
      prefix: /usr
