name: create-spack-mirror

on:
  workflow_dispatch:
    inputs:
      app:
        type: string
        description: "App to generate mirror for"
        required: true
        default: "jedi-ufs"
      site:
        type: string
        description: "Site to create environment for"
        required: true
        default: "default"
jobs:
  create-spack-mirror:
    runs-on: ubuntu-latest

    steps:
      - name: checkout
        uses: actions/checkout@v2
        with:
          submodules: true

      - name: create-env
        run: |
          source ./setup.sh
          ./create.py environment --app ${{ github.event.inputs.app }}  --site ${{ github.event.inputs.site }}  --name mirror
          spack env activate -d envs/mirror
          spack compiler find
          spack add re2c
          spack add clingo
          spack concretize
          spack mirror create -a
          # upload-artifact does not allow filenames that contain '?'
          rm -vf `find cache/source_cache -name '*\?*'`

      - name: upload-mirror
        uses: actions/upload-artifact@v2
        with:
          name: spack_mirror
          path: cache/source_cache
