name: create-spack-mirror

on:
  workflow_dispatch:
    inputs:
      template:
        description: 'Base spack.yaml template. Default is a complete environment (jedi-ufs-all)'
        required: false
        default: 'jedi-ufs-all'
      specs:
        description: 'Which specs to add to the template'
        required: false
        default: ''

jobs:
  create-spack-mirror:
    runs-on: ubuntu-20.04

    steps:
      - name: checkout
        uses: actions/checkout@v2
        with:
          submodules: true

      - name: create-env
        run: |
          source ./setup.sh
          spack stack create env --template ${{ github.event.inputs.template }} --name mirror
          spack env activate -d envs/mirror
          # This doesn't throw and error when specs are an empty string ('')
          spack add ${{ github.event.inputs.specs }}
          spack compiler find
          spack add re2c
          spack add clingo
          spack concretize
          # But "spack mirror" doesn't like environment variables:
          # ==> Error: Invalid url format from url: ${SPACK_STACK_DIR}/cache/source_cache
          sed -i "s#\${SPACK_STACK_DIR}#$SPACK_STACK_DIR#g" envs/mirror/common/config.yaml
          spack mirror create -a
          # upload-artifact does not allow filenames that contain '?'
          rm -vf `find cache/source_cache -name '*\?*'`

      - name: upload-mirror
        uses: actions/upload-artifact@v2
        with:
          name: spack_mirror
          path: cache/source_cache
