name: macos-apple-clang-build
on: workflow_dispatch

# Use custom shell with -l so .bash_profile is sourced
defaults:
  run:
    shell: bash -leo pipefail {0}

jobs:
  build:
    strategy:
      matrix:
        specs: [empty, jedi-ewok-env, jedi-fv3-env, jedi-tools-env, jedi-ufs-env, jedi-um-env, nceplibs-env, soca-env]
    runs-on: macos-latest
    steps:

      - name: checkout
        uses: actions/checkout@v2
        with:
          submodules: true

      - name: install-env
        uses: ./.github/actions/setup-spack-stack
        with:
          app: ${{ matrix.app }}
          compiler: apple-clang
          mpi: openmpi
          path: ${{ github.workspace }}
