name: macos-gcc-build

on:
  pull_request:
    paths-ignore:
      - 'doc/**'
      - '**.md'
      - '.github/ISSUE_TEMPLATE/*'
      - '.gitignore'
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

# Use custom shell with -l so .bash_profile is sourced
defaults:
  run:
    shell: bash -leo pipefail {0}

jobs:
  build:
    strategy:
      matrix:
        template: [skylab-dev] #, ufs-weather-model, ufs-srw-dev]
        spec: ['']
    runs-on: macos-latest
    steps:

      - name: checkout
        uses: actions/checkout@v2
        with:
          submodules: true

      - name: select-xcode
        uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: '13.4.1'

      - name: install-env
        uses: ./.github/actions/setup-spack-stack
        with:
          templates: ${{ matrix.template }}
          specs: ${{ matrix.spec }}
          compiler: gcc@11c
          mpi: mpich
          path: ${{ github.workspace }}
          site: macos.default
