name: macos-dom-build
on:
  # uncomment if we decide to run tests when merging to develop branch
  #push:
  #  # merges to develop branch
  #  branches: [develop]
  pull_request:
    # pull request to develop with a label
    types: [labeled]
    branches: [develop]
    defaults:
      template: 'jedi-ufs-all'
      specs: ''
  workflow_dispatch:
    inputs:
      template:
        description: 'Base spack.yaml template. Default is an empty environment.'
        required: false
        default: 'jedi-ufs-all'
      specs:
        description: 'Which specs to add to the template. Default is none (empty string).'
        required: false
        default: ''

# Use custom shell with -l so .bash_profile is sourced
defaults:
  run:
    shell: bash -leo pipefail {0}

jobs:
  macos-dom-build:
    if: ${{ github.event.label.name == 'macos-dom' }}
    runs-on: [self-hosted, macOS, X64, macos-dom]

    steps:
      - name: checkout
        uses: actions/checkout@v2
        with:
          submodules: true

      - name: create-env
        run: |
          source ./setup.sh
          spack stack create env --site macos.default --template ${{ inputs.template }} --name ${{ inputs.template }}.macos-dom
          spack env activate -d envs/${{ inputs.template }}.macos-dom
          spack add ${{ inputs.specs }}

          spack external find
          spack external find perl
          spack external find python@3
          spack external find wget
          PATH="/usr/local/opt/qt@5/bin:${PATH}" spack external find qt@5
          PATH="/usr/local/opt/curl/bin:${PATH}" spack external find curl
          spack compiler find

          spack concretize
          spack install --fail-fast

      # Skip this - takes forever and isn't necessary
      #- name: upload-mirror
      #  uses: actions/upload-artifact@v2
      #  with:
      #    name: spack_mirror
      #    path: cache/source_cache
