name: macos-gcc-build
on: workflow_dispatch

# Use custom shell with -l so .bash_profile is sourced
defaults:
  run:
    shell: bash -leo pipefail {0}

jobs:
  build:
    runs-on: macos-latest
    steps:
      - name: checkout
        uses: actions/checkout@v2
        with:
          submodules: true

      - name: install-env
        uses: ./.github/actions/setup-spack-stack
        with:
          name: jedi-ufs-all-macos-gcc
          template: jedi-ufs-all-dev
          compiler: gcc@10.3.0
          mpi: mpich
          path: ${{ github.workspace }}
