name: macos-llvm-clang-build

on:
  pull_request:
  #push:
  workflow_dispatch:

# Use custom shell with -l so .bash_profile is sourced
defaults:
  run:
    shell: bash -leo pipefail {0}

jobs:
  build:
    strategy:
      matrix:
        spec: [jedi-ufs-all]
    runs-on: macos-latest
    steps:

      - name: checkout
        uses: actions/checkout@v2
        with:
          submodules: true

      - name: install-env
        uses: ./.github/actions/setup-spack-stack
        with:
          specs: ${{ matrix.spec }}
          compiler: clang
          mpi: openmpi
          path: ${{ github.workspace }}
          site: macos.default
