name: ubuntu

on:
  pull_request:
    paths-ignore:
      - 'doc/**'
      - '**.md'
      - '.github/ISSUE_TEMPLATE/*'
      - '.gitignore'
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

# Use custom shell with -l so .bash_profile is sourced
defaults:
  run:
    shell: bash -leo pipefail {0}

jobs:

  # For simplicity, we create this mirror for a standard ubuntu-20.04 setup,
  # ignoring potential differences in the concretized environments between
  # compilers, MPI libraries, templates, ... most of the packages will be
  # the same, the few missing ones will be fetched from source instead of
  # the mirror when the spack builds are run.
  cache-spack-mirror:
    runs-on: ubuntu-20.04

    steps:
      - name: checkout
        uses: actions/checkout@v2
        with:
          submodules: true

      - name: setup-spack-mirror
        uses: ./.github/actions/setup-spack-mirror

  # Cache externals such as Intel compiler/mpi packages and other mpi builds.
  cache-externals:
    strategy:
      matrix:
        compiler-mpi: [ {compiler: intel@2021.8.0, mpi: intel-oneapi-mpi@2021.8.0}, {compiler: gcc@9.4.0, mpi: mvapich2@2.3.7}, {compiler: gcc@10.3.0, mpi: mpich@4.0.2} ]
    runs-on: ubuntu-20.04
    steps:

      - name: checkout
        uses: actions/checkout@v2
        with:
          submodules: true

      - name: setup-externals
        uses: ./.github/actions/setup-externals
        with:
          compiler: ${{ matrix.compiler-mpi.compiler }}
          mpi: ${{ matrix.compiler-mpi.mpi }}

  build-spack-stack:
    if: '! github.event.pull_request.draft'
    needs: [cache-externals, cache-spack-mirror]
    strategy:
      matrix:
        compiler-mpi: [ {compiler: intel@2021.8.0, mpi: intel-oneapi-mpi@2021.8.0}, {compiler: gcc@9.4.0, mpi: mvapich2@2.3.7}, {compiler: gcc@10.3.0, mpi: mpich@4.0.2} ]
        template: [unified-dev] # [skylab-dev, ufs-weather-model, ufs-srw-dev]
    runs-on: ubuntu-20.04
    steps:

      - name: checkout
        uses: actions/checkout@v2
        with:
          submodules: true

      - name: install-env
        uses: ./.github/actions/setup-spack-stack
        with:
          templates: ${{ matrix.template }}
          compiler: ${{ matrix.compiler-mpi.compiler }}
          mpi: ${{ matrix.compiler-mpi.mpi }}
          path: ${{ github.workspace }}
          site: linux.default
