name: ubuntu-intel-build
on: workflow_dispatch

# Use custom shell with -l so .bash_profile is sourced
defaults:
  run:
    shell: bash -leo pipefail {0}

jobs:
  build:
    strategy:
      matrix:
        # jedi-tools-env does not build with intel
        app: [empty, jedi-ewok, jedi-fv3, jedi-tools, jedi-ufs, jedi-um, nceplibs, soca, gsi, global-workflow, emc-verif-global, ufs-utils, gsi, emc-gfs-wafs]
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v2
        with:
          submodules: true

      - name: install-env
        uses: ./.github/actions/setup-spack-stack
        with:
          app: ${{ matrix.app }}
          compiler: intel
          mpi: intel-oneapi-mpi
          path: ${{ github.workspace }}
