name: ubuntu-intel-build

on:
  pull_request:
  push:
  workflow_dispatch:

# Use custom shell with -l so .bash_profile is sourced
defaults:
  run:
    shell: bash -leo pipefail {0}

jobs:
  build:
    strategy:
      matrix:
        # jedi-tools-env does not build with intel
        spec: [jedi-ewok-env, jedi-fv3-env, jedi-ufs-env, jedi-um-env, nceplibs-env, soca-env, global-workflow-env]
    runs-on: ubuntu-latest
    steps:

      - name: checkout
        uses: actions/checkout@v2
        with:
          submodules: true

      - name: install-env
        uses: ./.github/actions/setup-spack-stack
        with:
          specs: ${{ matrix.spec }}
          compiler: intel
          mpi: intel-oneapi-mpi
          path: ${{ github.workspace }}
          site: linux.default
