name: unit-tests

on:
  pull_request:
  #push:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-20.04

    steps:
      - name: checkout
        uses: actions/checkout@v2
        with:
          submodules: true

      - name: run-unit-tests
        run: |
          source ./setup.sh
          spack unit-test --extension=stack
