packages:
  all:
    compiler:: [intel@2021.9.0, gcc@12.2.0]
    providers:
      mpi:: [intel-oneapi-mpi@2021.9.0, mvapich2@2.3.7]
      # Alternative openmpi@4.1.6 with gcc@12.2.0 for testing
      #mpi:: [openmpi@4.1.6]

### MPI, Python, MKL
  mpi:
    buildable: False
  intel-oneapi-mpi:
    externals:
    - spec: intel-oneapi-mpi@2021.9.0%intel@2021.9.0
      prefix: /apps/spack-managed/oneapi-2023.1.0/intel-oneapi-mpi-2021.9.0-a66eaipzsnyrdgaqzxmqmqz64qzvhkse 
      modules:
      - intel-oneapi-mpi/2021.9.0
  mvapich2:
    externals:
    - spec: mvapich2@2.3.7%gcc@12.2.0~cuda~debug~regcache~wrapperrpath process_managers=slurm
      prefix: /work/noaa/epic/role-epic/spack-stack/hercules/mvapich2-2.3.7/gcc-12.2.0
      modules:
      - gcc/12.2.0
      - mvapich2/2.3.7
  # Alternative openmpi@4.1.6 with gcc@12.2.0 for testing
  #openmpi:
  #  externals:
  #  - spec: openmpi@4.1.6%gcc@12.2.0~cuda~cxx~cxx_exceptions~java~memchecker+pmi+static~wrapper-rpath
  #      schedulers=slurm
  #    prefix: /work/noaa/epic/role-epic/spack-stack/hercules/openmpi-4.1.6/gcc-12.2.0-spack
  #    modules:
  #    - gcc/12.2.0
  #    - openmpi/4.1.6-gcc-12.2.0-spack

### Modifications of common packages

### All other external packages listed alphabetically
  autoconf:
    externals:
    - spec: autoconf@2.69
      prefix: /usr
  automake:
    externals:
    - spec: automake@1.16.2
      prefix: /usr
  binutils:
    externals:
    - spec: binutils@2.35.2
      prefix: /usr
  coreutils:
    externals:
    - spec: coreutils@8.32
      prefix: /usr
  diffutils:
    externals:
    - spec: diffutils@3.7
      prefix: /usr
  ecflow:
    buildable: False
    externals:
    - spec: ecflow@5.8.4+ui+static_boost
      prefix: /work/noaa/epic/role-epic/spack-stack/hercules/ecflow-5.8.4
      modules:
      - ecflow/5.8.4
  findutils:
    externals:
    - spec: findutils@4.8.0
      prefix: /usr
  flex:
    externals:
    - spec: flex@2.6.4+lex
      prefix: /usr
  gawk:
    externals:
    - spec: gawk@5.1.0
      prefix: /usr
  git:
    externals:
    - spec: git@2.31.1~tcltk
      prefix: /usr
  git-lfs:
    externals:
    - spec: git-lfs@3.1.2
      prefix: /apps/spack-managed/gcc-11.3.1/git-lfs-3.1.2-sjfqfgha27na65g3lrcqamncnryjoa7l
      modules:
      - git-lfs/3.1.2
  gmake:
    externals:
    - spec: gmake@4.3
      prefix: /usr
  groff:
    externals:
    - spec: groff@1.22.4
      prefix: /usr
  m4:
    externals:
    - spec: m4@1.4.19
      prefix: /usr
  mysql:
    buildable: False
    externals:
    - spec: mysql@8.0.31
      prefix: /work/noaa/epic/role-epic/spack-stack/hercules/mysql-8.0.31
      modules:
      - mysql/8.0.31
  pkgconf:
    externals:
    - spec: pkgconf@1.7.3
      prefix: /usr
  qt:
    externals:
    - spec: qt@5.15.8
      prefix: /apps/spack-managed/gcc-11.3.1/qt-5.15.8-d47tsna6f5dylcpblkfgw4gpn2cucihd
      modules:
      - qt/5.15.8
  sed:
    externals:
    - spec: sed@4.8
      prefix: /usr
  subversion:
    externals:
    - spec: subversion@1.14.1
      prefix: /usr
  texinfo:
    externals:
    - spec: texinfo@6.7
      prefix: /usr
  wget:
    externals:
    - spec: wget@1.21.1
      prefix: /usr
